﻿@using Kartverket.Metadatakatalog.Helpers
@using Resources
@model Kartverket.Metadatakatalog.Models.Theme
@{ 
    Model.Metadata = Model.SortMetadata(Model);
}
<script src="~/Scripts/Sortable.js"></script>
<script>

    function getMetadata(uuid) {

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogenUrl"]api/getdata/" + uuid, function (result) {


            if (result != null) {
                if (result.Title != null) {
                    var title = result.Title;
                    $("#title-" + uuid).html("<p>" + title + "</p>");
                }
                else { $("#title-" + uuid).text("@UI.TitleMissing"); }
            }

            else {
                $("#title-" + uuid).text("@UI.TitleMissing");
            }

        });
    };


    function getMetadataFreetext(searchStr) {

        $('#searchresultsDS').empty();
        $('#searchInfo').text('@Html.Raw(UI.NoMetadataFound)');
        if (searchStr == '') {
            $('#searchInfo').text('@Html.Raw(UI.EnterSearchCriteria)');
            return false;
        }

        var counter = 0;

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogenUrl"]api/search?facets[0]name=type&facets[0]value=dataset&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }
                    $('#searchInfo').text('');
                }

            }

        });

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogenUrl"]api/search?facets[0]name=type&facets[0]value=series&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }

                    $('#searchInfo').text('');
                }

            }

        });

    };


    function displayMetadataRow(result) {
        var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="addOperatesOn(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> @UI.Add' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
        $('#searchresultsDS').append(div);
    }

    function addOperatesOn(Uuid) {
        var h = '<div id="operatesOn-' + Uuid + '" class="row list-group-item">';
        h += '<input type="hidden" value="' + Uuid + '" name="OperatesOn" />';

        h += '<div style="cursor:move" class="col-sm-8">';

        h += '<div id="title-' + Uuid + '">';
        h += '<script>getMetadata(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogenUrl"]metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> @UI.Display';
        h += '   </a>';
        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="#" onclick="document.getElementById(\'operatesOn-' + Uuid + '\').parentNode.removeChild(document.getElementById(\'operatesOn-' + Uuid + '\'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> @UI.Delete</a>';
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';
        if(document.getElementById('operatesOn-' + Uuid) == null){
            $('#operatesOnDIV').append(h);
        }
        else { alert('@Html.Raw(UI.DatasetAlreadyConnected)');}

    }

</script>
<div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>@UI.ConnectToMetadata (@Model.Name)</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><input class="btn btn-default" type="button" id="alphBnt" value="Sorter alfabetisk" />&nbsp;&nbsp;<button type="button" class="btn btn-default" data-dismiss="modal">@UI.Close</button></div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="searchmetadata" onkeydown="if (event.keyCode == 13) { getMetadataFreetext(document.getElementById('searchmetadata').value); return false; }" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="form-control" onclick="getMetadataFreetext(document.getElementById('searchmetadata').value);">@UI.Search</button>
                    <span id="searchInfo" style="color:red"></span>
                </div>
                <div class="col-sm-6"><b>@UI.ConnectedDatasets:</b></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <br />
                    <div id="searchresultsDS">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="operatesOnDIV" class="list-group">
                        @if (Model.Metadata != null)
                        {
                            for (int i = 0; i < Model.Metadata.Count; i++)
                            {
                                <div id="operatesOn-@Model.Metadata[i].Uuid" class="row list-group-item">
                                    <input type="hidden" value="@Model.Metadata[i].Uuid" name="OperatesOn" />
                                    <div style="cursor:move" class="col-sm-8">
                                        <div id="title-@Model.Metadata[i].Uuid">
                                            <script>getMetadata('@Model.Metadata[i].Uuid');</script>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 btn-group">
                                        <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogenUrl"]/metadata/uuid/@Model.Metadata[i].Uuid" target="_blank" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-share-alt"></span> @UI.Display
                                        </a>
                                    </div>
                                    <div class="col-sm-2 btn-group">
                                        <a href="#" onclick="document.getElementById('operatesOn-@Model.Metadata[i].Uuid').parentNode.removeChild(document.getElementById('operatesOn-@Model.Metadata[i].Uuid'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> @UI.Delete</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var operatesOnDIV = document.getElementById('operatesOnDIV');
    var sortable = Sortable.create(operatesOnDIV);

    $('#alphBnt').on('click', function () {

        var $divs = $(".list-group-item");

        var alphabeticallyOrderedDivs = $divs.sort(function (a, b) {
            return $(a).find("p").text() > $(b).find("p").text() ? 1 : -1 ;
        });

        $("#operatesOnDIV").html(alphabeticallyOrderedDivs);
    });


</script>