@model Kartverket.Metadatakatalog.Models.Theme
@using Resources

@{
    ViewBag.Title = UI.Delete + " " + UI.Facet_theme;
}
@section breadcrumb {
    <li><a href="/temaer">@UI.Themes</a></li>
    <li class="active">@UI.Delete</li>
}
<h2>@UI.Delete @UI.Facet_theme</h2>

<h3>@UI.ConfirmDelete</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @UI.ParentTheme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@UI.Delete" class="btn btn-default pull-right" />
            @Html.ActionLink(UI.Back, "Index")
        </div>
    }
</div>
