@model Kartverket.Metadatakatalog.Models.Theme
@using Kartverket.Metadatakatalog.Helpers
@using Newtonsoft.Json

@{
    ViewBag.Title = "Tema - " + Model.Name;
}

@section breadcrumb {
    @foreach (var parent in HtmlHelperExtensions.Parents(Model))
    {
        <li><a href="@Url.Action("Details", "Themes", new { id = @parent.Id, ThemeSeoName = HtmlHelperExtensions.SeoFriendlyString(parent.Name) })">@parent.Name</a></li>
    }
    <li class="active">@Model.Name</li>
}

@{
    @* Sett url og fiks linjeskift i data for themes *@
    @helper BuildMenu(Theme theme)
    {
        theme.Description = string.IsNullOrEmpty(theme.Description) ? "" : theme.Description.Replace(System.Environment.NewLine, "<br/>");
        theme.ShowDetailsUrl = Url.Action("Details", "Themes", new { id = @theme.Id, ThemeSeoName = HtmlHelperExtensions.SeoFriendlyString(theme.Name) });
        foreach (var item in theme.Children)
        {
            @BuildMenu(item)
        }
    }
    @BuildMenu(Model)
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>@Model.Name</h1>
            <span class="label label-default">Tema</span>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@* Beskrivelse og thumbnail*@
<div class="row">

    @* *** Beskrivelse tekst *** *@
    <div>
        <div class="col-md-8  size-12 col-sm-12 ">
            <p>@Html.Raw(Model.Description)</p>
        </div>
    </div>

    @* *** Beskrivelse bilde *** *@
    <aside class="col-sm-4  size-12 col-sm-12 ">
        @if (!string.IsNullOrWhiteSpace(Model.ThumbnailUrl))
        {
                <img src="@Model.ThumbnailUrl" class="pull-right" alt="Forhåndsvisning av data." />
        }
    </aside>
</div>


@*Template for a table row*@
<script type="text/x-template" id="resultItemRow">
    <div>

        @* *** TABELL *** *@
        <div v-if="$root.viewType == 'tableView'" class="table-border-bottom">

            <div v-bind:class="{expanded: expanded}" class="resultItemRow">
                <div class="row">
                    
                    @* Tittel *@
                    <div class="col-sm-5">
                        <div is="table-title" v-bind:metadata="resultItem"></div>
                    </div>

                    @*Organisasjon*@
                    <div class="col-sm-4">
                        <div is="table-owner" v-bind:metadata="resultItem"></div>
                    </div>

                    @*Åpne data*@
                    <div class="col-xs-1 text-center">
                        <span data-toggle='tooltip' data-placement='bottom' v-bind:title="openData.title" v-bind:class="openData.className"></span>
                    </div>

                    @*Kart*@
                    <div class="col-xs-1 text-center">
                        <div is="table-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="['showInMapButton']"></div>
                    </div>

                    @*Last ned*@
                    <div class="col-xs-1 text-center">
                        <div is="table-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="['addToCartButton']"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


@* Metadata*@
@* Vue code for resultitem*@
@Html.Partial("_resultItemRow")


<div id="themesVueList">
    <div class="row resultItemRowTableHeader">
        <div class="col-sm-5"><p>Tittel</p></div>
        <div class="col-sm-4"><p>Dataeier</p></div>
        <div class="col-sm-1"><p>Åpne data</p></div>
        <div class="col-sm-1"><p>Kart</p></div>
        <div class="col-sm-1"><p>Last ned</p></div>
    </div>
    <div class="menu-separator search-results-table-heading"></div>
    <div v-if="children.length" v-for="theme in children">
        <div is="theme-item" v-bind:theme="theme" v-bind:parent-hierarchy-level="0"></div>
    </div>
    <div v-for="metadataItem in metadataArray">
        <div is="resultItem" v-bind:result-item="metadataItem"></div>
    </div>
</div>

<script type="text/x-template" id="metadata-item-template">
    <div>
        <div is="resultItem" v-bind:result-item="apiData"></div>
    </div>
</script>

<script type="text/x-template" id="theme-item-template">
    <div>
        <div class="table-border-bottom">
            <div class="resultItemRow" style="margin-left: -18px;" v-bind:style="'padding-left: ' + (18 * hierarchyLevel) + 'px;'">
                <span v-on:click="expanded = !expanded" class="expand-arrow clickable" v-bind:class="[expanded ? 'active' : '']" style="vertical-align: middle;"></span>
                <a v-bind:href="theme.ShowDetailsUrl">{{ theme.Name }}</a>
            </div>
        </div>
        <div v-show="expanded">
            <div v-if="theme.Metadata.length">
                <div v-for="subItem in theme.Metadata">
                    <div is="metadata-item" v-bind:metadata="subItem"></div>
                </div>
            </div>
            <div v-if="theme.Children.length">
                <div v-for="child in theme.Children">
                    <div is="theme-item" v-bind:theme="child" v-bind:parent-hierarchy-level="hierarchyLevel"></div>
                </div>
            </div>
        </div>
    </div>
</script>

@if (ViewBag.IsAdmin)
{
    <div class="form-group pull-right top-padding">
        <a href="@Url.Action("Edit", "Themes", new {id = Model.Id})" class="btn btn-default margin-top-10">Rediger</a>
    </div>
}
@{
    var ThemesObject = JsonConvert.SerializeObject(Model.Children,
        Formatting.None,
        new JsonSerializerSettings()
        {
            ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
        });

    var MetadataObject = JsonConvert.SerializeObject(Model.Metadata,
    Formatting.None,
    new JsonSerializerSettings()
    {
        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
    });
}

@section scripts {

    <script>

        var MetadataItem = {
            name: 'metadataItem',
            template: '#metadata-item-template',
            props: ['metadata'],
            data: function () {
                return {
                    apiData: {},
                    hierarchyLevel: this.$parent.hierarchyLevel !== undefined ? this.$parent.hierarchyLevel : 0
                }
            },
            mounted: function () {
                $.getJSON('/api/metadata/' + this.metadata.Uuid, function (result) {
                    if (result.length != 0) {
                        this.apiData = result;
                    }
                }.bind(this));
            },
            components: {
                ResultItem: ResultItemComponent
            }
        };

        var metadataArray = @Html.Raw(MetadataObject);
        var themesArray = @Html.Raw(ThemesObject);

        var ThemeItem = {
            name: 'themeItem',
            template: '#theme-item-template',
            props: ['theme', 'parentHierarchyLevel'],
            data: function () {
                return {
                    expanded: false
                }
            },
            computed: {
                hierarchyLevel: function () {
                    return this.parentHierarchyLevel + 1;
                }
            },
            components: {
                metadataItem: MetadataItem
            }
        };


        var themesVueModel = new Vue({
            el: "#themesVueList",
            data: {
                items: metadataArray,
                children: themesArray,
                viewType: 'tableView',
                metadataArray: [],
            },
            created: function () {
                this.getApiData();
            },
            components: {
                themeItem: ThemeItem,
                ResultItem: ResultItemComponent
            },
            methods: {
                getApiData: function () {
                    this.items.forEach(function (metadata, index) {
                        $.getJSON('/api/metadata/' + metadata.Uuid,
                            function (result) {
                                if (result.length != 0) {
                                    this.metadataArray.push(result);
                                    this.metadataArray.sort(compareTitle);
                                }
                            }.bind(this));
                    }.bind(this));

                }
            }
        })

        function compareTitle(a,b) {
            if (a.Title < b.Title)
                return -1;
            if (a.Title > b.Title)
                return 1;
            return 0;
        }
    </script>
}