@model Kartverket.Metadatakatalog.Models.Theme
@using Kartverket.Metadatakatalog.Helpers

@{
    ViewBag.Title = "Tema - " + Model.Name;
}

@section breadcrumb {
    <li><a href="@Url.Action("Index", "Themes")">Temaer</a></li>
    <li class="active">@Model.Name</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>@Model.Name</h1>
            <span class="label label-default">Tema</span>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@* Hierarki *@
<div>
    @foreach (var parent in HtmlHelperExtensions.Parents(Model))
    {
        <a href="@Url.Action("Details", "Themes", new { id = @parent.Id, ThemeSeoName = HtmlHelperExtensions.SeoFriendlyString(parent.Name) })"><span class="label label-default">@parent.Name</span></a>
    }
    <span class="label label-default">@Model.Name</span>
</div>

@* Beskrivelse og thumbnail*@
<div class="row">

    @* *** Beskrivelse tekst *** *@
    <div>
        <div class="col-md-8  size-12 col-sm-12 ">
                <p>@Model.Description</p>
        </div>
    </div>

    @* *** Beskrivelse bilde *** *@
    <aside class="col-sm-4  size-12 col-sm-12 ">
        <div class="block listblock">
            @if (string.IsNullOrWhiteSpace(Model.ThumbnailUrl))
            {
                <img src="@Url.Action("Index", "Thumbnail", new {uuid = Model.Id, type = "small"})" w width="300" class="pull-right" alt="Forhåndsvisning av data." />
            }
        </div>
    </aside>
</div>

@* Metadata*@
<div>
    @if (Model.Metadata.Any())
    {
        <h3>Metadata</h3>
        foreach (var metadata in Model.Metadata)
        {
            <p>
                <a href="@Url.Action("Details", "Themes", new { id = metadata.Uuid, ThemeSeoName = "temanavn"})">@metadata.Title  @metadata.Uuid</a>
            </p>
        }
    }
</div>

<a href="@Url.Action("Edit", "Themes", new { id = Model.Id })" class="btn btn-default pull-right">Rediger</a>

