@model Kartverket.Metadatakatalog.Models.Theme
@using Kartverket.Metadatakatalog.Resources;
@using Resources
@{
    ViewBag.Title = UI.Edit + " " + UI.Facet_theme;
}
@section breadcrumb {
    <li><a href="/temaer">@UI.Themes</a></li>
    <li class="active">@UI.Edit: @Model.Name</li>
}
<h2>@UI.Edit @UI.Facet_theme</h2>

@using (Html.BeginForm("Edit", "Themes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @for (int t = 0; t < Model.Translations.Count; t++)
        {
            @Html.HiddenFor(m => Model.Translations[t].CultureName)
            <input type="hidden" name="Translations[@t].ThemeId" value="@Model.Id" />
            <div class="form-group">
                @Html.LabelFor(m => Model.Translations[t].Name, Resource.Name(Model.Translations[t].CultureName), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Translations[t].Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.Translations[t].Name)
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", cols = "", rows = "3" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @for (int t = 0; t < Model.Translations.Count; t++)
        {
            @Html.HiddenFor(m => Model.Translations[t].CultureName)
            <input type="hidden" name="Translations[@t].ThemeId" value="@Model.Id" />
            <div class="form-group">
                @Html.LabelFor(m => Model.Translations[t].Description, Resource.Description(Model.Translations[t].CultureName), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => Model.Translations[t].Description, new { @class = "form-control", cols = "", rows = "3" })
                    @Html.ValidationMessageFor(m => Model.Translations[t].Description)
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.ThumbnailUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThumbnailUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThumbnailUrl, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-10"><input type="file" id="uploadFile" name="uploadFile" /></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, UI.ParentTheme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParentId", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" role="button" data-toggle="modal" id="operatesOnLink" data-target="#operatesOn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> @UI.ConnectToMetadata</a>
            </div>
        </div>
        <div class="form-group pull-right">
            <div class="col-md-12">
                <a class="btn btn-default" href="~/temaer/delete/@Model.Id">@UI.Delete</a>
                <input type="submit" value="@UI.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="operatesOn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="operatesOn" aria-hidden="true">
        @Html.Partial("_OperatesOn", Model)
    </div>
}

<div>
    @Html.ActionLink(UI.Back, "Index")
</div>
