@using Kartverket.Metadatakatalog.Helpers
@using Resources
@model List<Kartverket.Metadatakatalog.Models.Theme>

@helper BuildMenu(List<Theme> data, int? parentId = null)
{
var items = data.Where(d => d.ParentId == parentId);
    if (items.Any())
    {
            <ul>
                @foreach (var item in items)
                {
                    <li>
                        <a href="@Url.Action("Details", "Themes", new { id = @item.Id, ThemeSeoName = HtmlHelperExtensions.SeoFriendlyString(item.Name) })">@item.Name</a>
                        @BuildMenu(data, item.Id)
                    </li>
                }
            </ul>
    }
}

@{
    ViewBag.Title = UI.Themes;
}
@section breadcrumb {
    <li class="active">@UI.Themes</li>
}
<h2>@UI.Themes</h2>

<p>
    @Html.ActionLink(UI.Create, "Create", null, new { @class = "btn btn-sm btn-default" })
</p>
@BuildMenu(Model, null)