<div class="facet-filter-item">
    <div><a href="/">@Resources.UI.MapCatalogMainPage</a></div>
    <div><a href="/etatvis-oversikt/organisasjon">@Resources.UI.DepartmentalOverview</a></div>
    <div><a href="/apier-og-tjenester">@Resources.UI.ApisAndServices</a></div>
    <div><a href="/kartlosninger">@Resources.UI.MapServices</a></div>
    <div><a href="/hva-finnes-i-kommunen-eller-fylket">@Resources.UI.MetadataInMunicipality</a></div>
    <div><a href="/aapne-data">@Resources.UI.OpenData</a></div>
</div>


