﻿@using Kartverket.Metadatakatalog.Helpers
@using Resources
@using System.Web.Configuration;
<!DOCTYPE html>
<html class="js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>

    @RenderSection("head", false)

    @Html.Partial("_Resources")

    <script>
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
        var applicationEnvironment = '@Html.EnvironmentName()';

        var cultureData = {
            friendlyUrlEN: '@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))',
            friendlyUrlNO: '@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))',
            currentCulture: '@CultureHelper.GetCurrentCulture()'
            };
    </script>
</head>
<body class="geonorge-container prototype  geonorge ng-scope">

    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/dist/partials/Header.html")))
    @Styles.Render("~/shared-partials-styles")
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    }


    <div class="container container-breadcrumbs" id="navTabCont">
        <ul class="breadcrumbs col-md-12">
            <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
            @if (controllerName != "Help")
            {
                <li><a href="/">@Resources.UI.AppPageTitle </a></li>
            }
            @RenderSection("breadcrumb", false)
        </ul>
    </div>

    <div id="react-content"></div>

    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>

    </div>



    <script>
        var statusApi = '@Html.StatusApiUrl()';
    </script>


    @if (CultureHelper.IsNorwegian())
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.min.cshtml");
    }
    else
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer_eng.min.cshtml");
    }
    @Scripts.Render("~/shared-partials-scripts")
    <script>
        searchOption.loginUrl = '@Html.Raw(Url.Action("SignIn", "AuthServices", new { ReturnUrl = WebConfigurationManager.AppSettings["DownloadUrl"] + "/AuthServices/SignIn?ReturnUrl=" + Request.Url }))';
        searchOption.logoutUrl = '@Html.Raw(Url.Action("SignOut", "AuthServices"))';
        searchOption.loggedIn = @Request.IsAuthenticated.ToString().ToLower();
        searchOption.epiBaseUrl = '@Html.GeonorgeUrl()';
        var orderItems = Cookies.get('orderitems');
        if (orderItems && orderItems > 0) {
            $('.downloads__count').show();
            $('.downloads__count').text(orderItems);
        }


    </script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Scripts/test.jsx")"></script>

    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Analytics.min.cshtml")
    <script>
        setMainSearchPlaceholder('@Html.Raw(UI.SearchMapData)');
    </script>
    @RenderSection("scripts", required: false)

</body>

</html>
