﻿@using Kartverket.Metadatakatalog.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/img/logo-graphic-512.png" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @Styles.Render("~/Content/css")
</head>
<body class="geonorge-container prototype  geonorge">
    <div id="logo-on-sm">
        <img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
    </div>

    @Html.Partial("_NavbarPartial")
   

    <div class="body-content">
        <div class="container">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["success"]
                </div>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }
            <ol class="breadcrumb">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Kartkatalogen</a></li>
                @RenderSection("breadcrumb", false)
            </ol>

            @RenderBody()
        </div>
    </div>
    <footer class="page-footer" role="contentinfo">
        <div class="top-shadow">&nbsp;</div>

        <div class="container padding-bottom">
            <div class="row">

                <div class="col-sm-3 col-xs-12">
                    <div>
                        <h1 class="heading">Kontakt oss</h1>
                        <p>Tlf. 08700</p>
                        <p>post@norgedigitalt.no</p>
                    </div>
                </div>
                <div class="col-xs-12 visible-xs">&nbsp;</div>
                <div class="col-sm-2 col-sm-offset-7 col-xs-12">
                    <div class="">
                        <p>© 2014 - Kartverket</p>
                        <p>Versjon @Html.ApplicationVersionNumber()</p>
                        <!--<p><a href="/Om-Kartverket/Personvern-og-cookies/"> Personvern og cookies </a></p>-->
                    </div>
                </div>
            </div>

        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
