﻿@using Kartverket.Metadatakatalog.Helpers
@using Resources
@using System.Web.Configuration;
<!DOCTYPE html>
<html class="js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>

    @RenderSection("head", false)

    @Html.Partial("_Resources")

    <script>
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
        var applicationEnvironment = '@Html.EnvironmentName()';

        var cultureData = {
            friendlyUrlEN: '@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))',
            friendlyUrlNO: '@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))',
            currentCulture: '@CultureHelper.GetCurrentCulture()'
            };
    </script>
</head>
<body class="geonorge-container prototype  geonorge ng-scope fixed-menu-margin">
    <main-navigation environment="@Html.EnvironmentName()" 
                     norwegianurl="@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))"
                     englishurl="@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.Metadatakatalog.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))"
                     language="@CultureHelper.GetCurrentCulture()">

    </main-navigation>
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    @*@Html.Raw(File.ReadAllText(Server.MapPath("~/dist/partials/Header.html")))*@
    @Styles.Render("~/Content/shared-partials-styles")
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    }


    <div class="container container-breadcrumbs" id="navTabCont">
        <ul class="breadcrumbs col-md-12">
            <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
            @if (controllerName != "Help")
            {
                <li><a href="/">@Resources.UI.AppPageTitle </a></li>
            }
            @RenderSection("breadcrumb", false)
        </ul>
    </div>

    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>

    </div>



    <script>
        var statusApi = '@Html.StatusApiUrl()';
    </script>


    @if (CultureHelper.IsNorwegian())
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.min.cshtml");
    }
    else
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer_eng.min.cshtml");
    }

    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/main.js"></script>

    <script>
        searchOption.supportsLogin = false;
        searchOption.epiBaseUrl = '@Html.GeonorgeUrl()';
        var orderItems = Cookies.get('orderItems');
        if (orderItems && orderItems > 0) {
            $('.downloads__count').show();
            $('.downloads__count').text(orderItems);
        }


    </script>

    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Analytics.min.cshtml")
    <script>
        setMainSearchPlaceholder('@Html.Raw(UI.SearchMapData)');
    </script>
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/@("@kartverket/geonorge-web-components@0.1.41/MainNavigation.js")"></script>
</body>

</html>
