﻿@using Kartverket.Metadatakatalog.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/img/logo-graphic-512.png" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", false)
    
    @Html.Partial("_Analytics")
    <script type="text/javascript" src="/Scripts/easyXDM.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        // by Kartverket/Thomas Hirsch 2012 / public domain.
        //var hash = 'http://norgeskart.no/geoportal/testing/dynamisk.html';
        //var hash = 'http://norgeskart.no/geoportal/staging';

        //var socket = new easyXDM.Socket({
        //    remote: hash,
        //    onMessage: function (message, origin) {
        //        var reslist2 = document.getElementById('result');
        //        reslist2.innerHTML = reslist2.innerHTML + message;
        //        var json = easyXDM.getJSONObject().parse(message);

        //        if (json) {
        //            if (json.type === 'layerLoaded') {
        //                var reslist = document.getElementById('layerlist');
        //                var layeritem = '<li  class="list-group-item">';
        //                layeritem = layeritem + '<input type="checkbox" /> <a onclick="javascript:msgShowLayer(\'' + json.parent + '\')" class="btn btn-xs btn-bunnmarg btn-default">';
        //                layeritem = layeritem + '<span class="glyphicon glyphicon-plus"></span> ' + json.title;
        //                layeritem = layeritem + '</a>';
        //                layeritem = layeritem + '</li>';


        //                reslist.innerHTML = layeritem + reslist.innerHTML;
        //            }
        //        }


        //    },
        //    container: document.getElementById("container"),
        //    onReady: function () {
        //        this.container.getElementsByTagName("iframe")[0].style.height = "700px";
        //        this.container.getElementsByTagName("iframe")[0].style.width = "100%";
        //    }
        //});

        function postMessage(msg) {
            var message = JSON.stringify(msg);
            socket.postMessage(message);
            var reslist = document.getElementById('command');
            reslist.innerHTML = message + '</br>' + reslist.innerHTML;
        }
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //e.target // newly activated tab
            //e.relatedTarget // previous active tab
            $("#navTabCont").toggleClass("bottom-edge-kart");
            $("#navTabCont").toggleClass("bottom-edge-kartkatalogen");
        })



        function msgAddMapLayer(layer) {
            $('#navTab a:last').tab('show')


            postMessage({ "cmd": "addDataSource", "type": "wms", "url": layer });
        }

        function msgShowLayer(id) {
            postMessage({ "cmd": "setVisible", "id": id });
        }


    </script>
    @RenderSection("scripts", false)
</head>
<body class="geonorge-container prototype  geonorge">
    <div id="logo-on-sm">
        <img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
    </div>

    @Html.Partial("_NavbarPartial")

    <div class="navtab-container bottom-edge-kartkatalogen" id="navTabCont">
        <div class="container">
            <ul class="breadcrumb navbar-left">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Kartkatalogen</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
            <ul class="nav nav-tabs navbar-right" role="tablist" id="navTab">
                <li role="presentation" class="background-kartkatalogen active"><a class="background-kartkatalogen" href="#kartkatalog" aria-controls="kartkatalog" role="tab" data-toggle="tab">Kartkatalogen</a></li>
                @*<li role="presentation" class="background-kart"><a href="#kart" aria-controls="kart" role="tab" data-toggle="tab">Kartsøk</a></li>*@

            </ul>
        </div>

    </div>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="kartkatalog">
            <div class="body-content">
                <div class="container">
                    
                    @RenderBody()

                </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="kart">
            
            @*@Html.Partial("_Map")*@


        </div>

    </div>
    <footer class="page-footer" role="contentinfo">
        <div class="top-shadow">&nbsp;</div>

        <div class="container padding-bottom">
            <div class="row">

                <div class="col-sm-3 col-xs-12">
                    <div>
                        <h1 class="heading">Kontakt oss</h1>
                        <p>Tlf. 08700</p>
                        <p>post@norgedigitalt.no</p>
                    </div>
                </div>
                <div class="col-xs-12 visible-xs">&nbsp;</div>
                <div class="col-sm-2 col-sm-offset-7 col-xs-12">
                    <div class="">
                        <p>© 2014 - Kartverket</p>
                        <p>Versjon @Html.ApplicationVersionNumber()</p>
                        <!--<p><a href="/Om-Kartverket/Personvern-og-cookies/"> Personvern og cookies </a></p>-->
                    </div>
                </div>
            </div>

        </div>

    </footer>

</body>

</html>
