﻿@using Kartverket.Metadatakatalog.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @Styles.Render("~/Content/css")
</head>
<body class="geonorge-container prototype  geonorge">
    <div id="logo-on-sm">
        <img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
    </div>

    @Html.Partial("_NavbarPartial")
    @*<div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Meny</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><img class="logo" src="@Url.Content("~/Content/kartverket_logo.png")" width="117" height="39" alt="Logo Kartverket" /></span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="divider-vertical"></li>
                        <li><a href="/">Kartkatalogen</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.geonorge.no">Geonorge forside</a></li>
                    </ul>
                </div>
            </div>
        </div>*@


    <div class="body-content">
        <div class="container">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["success"]
                </div>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Kartverket</p>
            <p>Versjon @Html.ApplicationVersionNumber()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
