@using Kartverket.Metadatakatalog.Helpers
@using Resources

@{var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer(); }

@Html.Partial("VueComponents/_ListRowButtons")
@Html.Partial("VueComponents/_TableRowButtons")

@Html.Partial("VueComponents/ResultItem/_Title")
@Html.Partial("VueComponents/ResultItem/_Owner")
@Html.Partial("VueComponents/ResultItem/_OpenData")
@Html.Partial("VueComponents/ResultItem/_DistributionType")
@Html.Partial("VueComponents/ResultItem/_DistributionUrl")
@Html.Partial("VueComponents/ResultItem/_DistributionFormats")
@Html.Partial("VueComponents/ResultItem/_Thumbnail")


<script type="text/x-template" id="result-item-template">
    <div>
        @* *** TABELL *** *@
        <div v-if="$root.viewType == 'tableView'" class="resultItemRow table-border-bottom">
            <div class="result-item-row-content">
                <div class="row">
                    <div v-bind:class="getFieldSizeClass('title')" v-show="isSelectedField('title')" is="table-title" v-bind:metadata="resultItem" v-bind:parent-hierarchy-level="hierarchyLevel"></div>
                    <div v-bind:class="getFieldSizeClass('distributionType')" v-show="isSelectedField('distributionType')" is="table-distribution-type" v-bind:metadata="resultItem"></div>
                    <div v-bind:class="getFieldSizeClass('owner')" v-if="isSelectedField('owner')" is="table-owner" v-bind:metadata="resultItem"></div>
                    <div v-bind:class="getFieldSizeClass('openData')" v-if="isSelectedField('openData')" is="table-open-data" v-bind:metadata="resultItem"></div>
                    <div is="table-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="selectedButtons"></div>
                </div>
            </div>
        </div>

        @* **** LISTE **** *@
        <div v-if="$root.viewType == 'listView'" class="row resultItemRowList">
            <div class="col-sm-2">
                <div is="table-owner" v-bind:metadata="resultItem"></div>
            </div>
            <div class="col-sm-7">
                <div is="table-title" v-bind:metadata="resultItem"></div>
                <p>{{description}}</p>
                <div is="table-distributionType" v-bind:metadata="resultItem"></div>
                <div is="list-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="selectedButtons"></div>
            </div>
            <div class="col-sm-3">
                <div is="thumbnail" v-bind:metadata="resultItem"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        @* *** GALLERI *** *@
        <div v-if="$root.viewType == 'galleryView'">
            <div is="table-title" v-bind:metadata="resultItem"></div>
        </div>

        <div v-if="$root.viewType != 'galleryView'" class="clearfix"></div>

    </div>
</script>


<script>
    //Component
    var ResultItem = {
        template: "#result-item-template",
        name: "resultItem",
        props: ["resultItem", "selectedFields", "selectedButtons"],
        data: function () {
            var data = {
                expanded: false,
                hierarchyLevel: this.$parent.hierarchyLevel !== undefined ? this.$parent.hierarchyLevel + 1 : 0,
            };
            return data;
        },
        components: {
            ListRowButtons: ListRowButtons,
            TableRowButtons: TableRowButtons,
            TableTitle: TableTitle,
            TableOwner: TableOwner,
            TableOpenData: TableOpenData,
            TableDistributionType: TableDistributionType,
            TableDistributionUrl: TableDistributionUrl,
            TableDistributionFormats: TableDistributionFormats,
            Buttons: Buttons,
            thumbnail: thumbnail
        },
        mounted: function () {
            var addToCartId = getParameterByName('addtocart_event_id');
            if (addToCartId && this.resultItem.Uuid == addToCartId) {
                this.addToCart();
                removeParameterByNameFromUrl('addtocart_event_id');
            }
        },
        methods: {
            isSelectedField: function (fieldName) {
                var isSelected = false;
                this.selectedFields.forEach(function (selectedField) {
                    if (selectedField.name == fieldName) isSelected = true;
                });
                return isSelected;
            },
            getFieldSizeClass: function (fieldName) {
                var fieldSizeClass = "";
                this.selectedFields.forEach(function (selectedField) {
                    if (selectedField.name == fieldName) fieldSizeClass = "col-sm-" + selectedField.size;
                });
                return fieldSizeClass;
            },
            isSelectedButton: function (buttonName) {
                var isSelected = false;
                this.selectedButtons.forEach(function (selectedButtonName) {
                    if (selectedButtonName == buttonName) isSelected = true;
                });
                return isSelected;
            }
        }
    }
</script>
