@using Kartverket.Metadatakatalog.Helpers

@{var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer(); }

@Html.Partial("VueComponents/_TableRowButtons")

@Html.Partial("VueComponents/ResultItem/_Title")
@Html.Partial("VueComponents/ResultItem/_Owner")
@Html.Partial("VueComponents/ResultItem/_OpenData")
@Html.Partial("VueComponents/ResultItem/_DistributionType")
@Html.Partial("VueComponents/ResultItem/_DistributionUrl")
@Html.Partial("VueComponents/ResultItem/_DistributionFormats")
@Html.Partial("VueComponents/ResultItem/_CopyUrl")
@Html.Partial("VueComponents/ResultItem/_Thumbnail")


<script type="text/x-template" id="resultItemRow">
    <div>
        <div class="resultItemRow">
            <div class="result-item-row-content">
                <div class="row">
                    <div class="col-sm-5" is="table-title" v-bind:metadata="resultItem" v-bind:parent-hierarchy-level="hierarchyLevel"></div>
                    <div class="col-sm-4" is="table-owner" v-bind:metadata="resultItem"></div>
                    <div class="col-xs-1" is="table-open-data" v-bind:metadata="resultItem"></div>
                    <div is="table-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="['showInMapButton']"></div>
                    <div is="table-row-buttons" v-bind:metadata="resultItem" v-bind:listOfButtons="['addToCartButton']"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>


<script>
    //Component
    var ResultItemComponent = {
        template: "#resultItemRow",
        name: "resultItem",
        props: ["resultItem"],
        data: function() {
            var data = {
                expanded: false,
                addedToCart: false,
                hierarchyLevel: this.$parent.hierarchyLevel !== undefined ? this.$parent.hierarchyLevel + 1 : 0,
            };
            return data;
        },
        components: {
            TableRowButtons: TableRowButtons,
            TableTitle: TableTitle,
            TableOwner: TableOwner,
            TableOpenData: TableOpenData,
            TableDistributionType: TableDistributionType,           
            TableDistributionUrl: TableDistributionUrl,
            TableDistributionFormats: TableDistributionFormats,
            TableCopyUrl: TableCopyUrl,
            Buttons: Buttons,
            thumbnail: thumbnail
        },
        computed: {
            readMoreUrl: function () {
                var organization = this.resultItem.OrganizationSeoName;
                var title = this.resultItem.TitleSeo;
                var uuid = this.resultItem.Uuid;
                var url = "/metadata/" + organization + "/" + title + "/" + uuid;
                return url;
            },
            
            // TODO ta vekk
            organizationUrl: function () {
                url = "/etatvis-oversikt/" + this.resultItem.OrganizationSeoName;
                return url;
            },
            description: function () {
                var description;
                if (this.resultItem.Abstract.length > 250) {
                    description = this.resultItem.Abstract.substring(0, 251) + " ...";
                } else {
                    description = this.resultItem.Abstract;
                }
                return description;
            }
        }
    }
</script>
