@using Kartverket.Metadatakatalog.Models.ViewModels
@using Kartverket.Metadatakatalog.Helpers
@model SearchByAreaViewModel
@{
    ViewBag.Title = "Hva finnes i kommune/fylke?";

}
@section breadcrumb {
    <li class="active">@ViewBag.Title</li>
}

<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-sm-9">
            <p>Velg en kommune eller et fylke, og få oversikt over hvilke stedfestede data som finnes der</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form action=@Url.Action("Area", "Search", new { AreaCode = ""}) method="get" class="custom-select">
                <select class="form-control" name="AreaCode" onchange="this.form.submit()">
                    <option Selected disabled>Velg kommune/Fylke</option>
                    <optgroup label="Fylker">
                        @foreach (var countie in Model.Counties)
                        {
                            if (Model.AreaCode == countie.Code)
                            {
                                <option selected value="@countie.Code">@countie.Name</option>
                            }
                            else
                            {
                                <option value="@countie.Code">@countie.Name</option>
                            }
                        }
                    </optgroup>
                    <optgroup label="Kommuner">
                        @foreach (var municipal in Model.Municipalities)
                        {
                            if (Model.AreaCode == municipal.Code)
                            {
                                <option selected value="@municipal.Code">@municipal.Name</option>
                            }
                            else
                            {
                                <option value="@municipal.Code">@municipal.Name</option>
                            }
                        }
                    </optgroup>
                </select>
            </form>
        </div>
    </div>
</section>

@Html.Partial("_resultItemRow")
@Html.Partial("_searchResult")

<script type="text/x-template" id="searchResultTemplate">
    <div>
        <div v-if="$root.viewType == 'tableView' && items.length" class="row resultItemRowTableHeader">
            <div class="col-sm-4" is="header-title"></div>
            <div class="col-sm-2" is="header-type"></div>
            <div class="col-sm-3" is="header-organization"></div>
            <div class="col-sm-1" is="header-open-data"></div>
            <div class="col-sm-1" is="header-map"></div>
            <div class="col-sm-1" is="header-add-to-cart"></div>
        </div>
        <div v-if="$root.viewType == 'tableView'" class="menu-separator search-results-table-heading"></div>
        <div v-for="item in items">
            <div is="resultItem"
                 v-bind:result-item="item"
                 v-bind:selected-fields="[
                 {name: 'title', size: '4'},
                 {name: 'distributionType', size: '2'},
                 {name: 'owner', size: '3'},
                 {name: 'openData', size: '1'}
                 ]"
                 v-bind:selected-buttons="[
                 'showInMapButton',
                 'addToCartButton'
                 ]">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

@helper DisplayPaginationBottom()
        {
    <div class="search-result-navigation">
        Viser @Model.ShowingFromAndTo() av @Model.NumFound treff:
        <div class="pagination-container">
            <ul class="pagination pagination-sm btn-group inline-block">
                @if (Model.IsFirstButtonActive())
                {
                    <li><a aria-label="Første" title="Første" href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForFirstLink()))">&laquo;</a></li>
                }

                @if (Model.IsPreviousButtonActive())
                {
                    <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPreviousLink()))">&laquo; Forrige</a></li>
                }

                @for (int i = Model.startPage; i <= Model.endPage; i++)
                {
                    if (Model.IsActivePage(i))
                    {
                        <li class="active"><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPageNumber(i)))">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPageNumber(i)))">@i</a></li>
                    }
                }

                @if (Model.IsNextButtonActive())
                {
                    <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForNextLink()))">Neste &raquo;</a></li>
                }
                @if (Model.IsLastButtonActive())
                {
                    <li><a aria-label="Siste" title="Siste" href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForLastLink()))"> &raquo;</a></li>
                }
            </ul>
        </div>
    </div>
}

@{
            string url = HttpContext.Current.Request.Url.AbsoluteUri; url = url.Replace("hva-finnes-i-kommunen-eller-fylket", "api/search");
            Uri uri = new Uri(url);
            string path = String.Format("{0}{1}{2}{3}", uri.Scheme,
            Uri.SchemeDelimiter, uri.Authority, uri.AbsolutePath);
            var qs = HttpUtility.ParseQueryString("");

            for (int f = 0; f < Model.FacetParameters.Count; f++)
            {
                var facet = Model.FacetParameters[f];

                qs.Add("facets[" + f + "]name", facet.Name);
                qs.Add("facets[" + f + "]value", facet.Value);
            }
            qs.Set("Offset", "1"); qs.Set("limit", Model.NumFound.ToString()); qs.Add("mediatype", "csv");
            string query = qs.ToString(); string urlCSV = path + "?" + query;
}


<div class="row search-result-navigation">
    <div class="col-md-4">
        Viser @Model.ShowingFromAndTo() av @Model.NumFound treff:
        <div class="pagination-container">
            <ul class="pagination pagination-sm btn-group inline-block">
                @if (Model.IsFirstButtonActive())
            {
                    <li><a aria-label="Første" title="Første" href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForFirstLink()))"><span class="fa fa-angle-double-left"></span></a></li>
                }

                @if (Model.IsPreviousButtonActive())
            {
                    <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPreviousLink()))"><span class="fa fa-angle-left"></span> Forrige</a></li>
                }

                @for (int i = Model.startPage; i <= Model.endPage; i++)
            {
                if (Model.IsActivePage(i))
                {
                        <li class="active"><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPageNumber(i)))">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForPageNumber(i)))">@i</a></li>
                    }
                }

                @if (Model.IsNextButtonActive())
            {
                    <li><a href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForNextLink()))"> Neste <span class="fa fa-angle-right"></span></a></li>
                }
                @if (Model.IsLastButtonActive())
            {
                    <li><a aria-label="Siste" title="Siste" href="@Url.Action("Area", Model.AreaRouteValues(Model.ParamsForLastLink()))"> <span class="fa fa-angle-double-right"></span></a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <div class="save-as-menu pull-right">
            <label>Lagre som:</label>
            <div class="no-padding-bottom save-as-dropdown">
                <div class="custom-select">
                    <select onchange="additionalView(this.value)" class="form-control">
                        <option value="csvUrl" selected="selected">CSV</option>
                    </select>
                </div>
            </div>
            <div id="saveButtons" class="no-padding-bottom save-as-buttons">
                <a class="btn" id="csvUrl" href="@urlCSV">Lagre</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>

<span class="separator-small separator-gray margin-bottom-10"></span>


<div class="row resultItemTitleRow">

    <div id="searchResultTable" class="col-md-9">
        <span v-on:click="view('galleryView')" class="pull-right fa fa-th-large"></span>
        <span v-on:click="view('listView')" class="pull-right fa fa-list"></span>
        <span v-on:click="view('tableView')" class="pull-right fa fa-table"></span>
        <div class="clearfix"></div>
        @if (Model.Result != null)
        {
            <div is="searchResult" v-bind:result-items="ResultItems"></div>
            @DisplayPaginationBottom()
        }
    </div>

    <div class="col-sm-12 col-md-3 pull-left hidden-sm hidden-xs">
        <aside class="facet-filter-container">
            <h3 class="">Filtrer søket på:</h3>
            <span class="separator-small"></span>
            @Html.Partial("_FacetFilter", Model)
            <h3 class="" style="padding-top: 40px;">Sider</h3>
            <span class="separator-small"></span>
            @Html.Partial("_FilterPages")
        </aside>
    </div>
</div>

@section scripts {
    @{var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer(); }

    <script>

        // Setter url for søkeresultat
        setMainSearchUrl('hva-finnes-i-kommunen-eller-fylket');
        setMainSearchApiUrl('search?facets[0]name=area&facets[0]value=@Model.AreaCode');

        //Main vue model
        var vueModel = new Vue({
            el: '#searchResultTable',
            data: {
                ResultItems: @Html.Raw(HttpUtility.HtmlDecode(javaScriptSerializer.Serialize(Model.Result.Items))),
                viewType: "tableView"
            },
            components: {
                SearchResult: SearchResult,
                ResultItem: ResultItemComponent
            },
            created: function() {
                this.viewType = this.getSelectedViewType();
            },
            methods: {
                view: function(type) {
                    this.viewType = type;
                    localStorage.setItem("layout", this.viewType);
                    if (type === "galleryView") {
                        this.tableBorder = "";
                    } else {
                        this.tableBorder = "table-border-bottom";
                    }
                },
                getSelectedViewType: function() {
                    var viewType = "tableView";
                    if (localStorage.getItem("layout")) {
                        viewType = localStorage.getItem("layout");
                        this.view(viewType);
                    }
                    return viewType;
                }
            }
        });
    </script>

    <script>
        function showAlert(message, colorClass) {
            $('#feedback-alert').attr('class', 'alert alert-dismissible alert-' + colorClass);
            $('#feedback-alert .message').html(message);
            $('#feedback-alert').show();
        }

        $(document).ready(function() {
            $("#orderby").change(
                function() {
                    location.href = $(this).val();
                }
            );
        });

        $(document).ready(function() {
            @if (Html.DownloadServiceEnabled())
            {
                <text>
            if (localStorage.getItem("orderItems") != null) {
                var storedOrderItems = JSON.parse(localStorage["orderItems"]);
                var orderitemCount = storedOrderItems.length;
                if (orderitemCount > 0) {
                    $('#orderitem-count').text(orderitemCount);
                    $('#orderitem-count-text').text(' datasett');
                    updateAllCartButtons(storedOrderItems);
                } else {
                    $('#orderitem-count').text('');
                    $('#orderitem-count-text').text('Kurven er tom');
                }
            } else {
                $('#orderitem-count').text('');
                $('#orderitem-count-text').text('Kurven er tom');
            }
            </text>
            }
        });

    </script>
}
