@using Kartverket.Metadatakatalog.Models.ViewModels
@using Kartverket.Metadatakatalog.Helpers
@model SearchViewModel

@{
    ViewBag.Title = !string.IsNullOrWhiteSpace(Model.Text) ? "Søk etter " + Model.Text : "Søk";
}

<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Resources.UI.AppPageTitle
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-sm-9">
            <p>
                @Resources.UI.AboutMapCatalog
            </p>
        </div>
    </div>
</section>

@{
    string url = HttpContext.Current.Request.Url.AbsoluteUri; url = url.Replace("search", "api/datasets");
    Uri uri = new Uri(url);
    string path = String.Format("{0}{1}{2}{3}", uri.Scheme,
    Uri.SchemeDelimiter, uri.Authority, uri.AbsolutePath);
    string querystring = Request.QueryString.ToString();
    querystring = querystring.Replace(".name", "name"); querystring = querystring.Replace(".value", "value");
    var qs = HttpUtility.ParseQueryString(querystring);
    System.Collections.Specialized.NameValueCollection qsCol = new System.Collections.Specialized.NameValueCollection(qs);
    qs.Clear();
    foreach (string key in qsCol)
    {
        qs.Add(key.ToLower(), qsCol[key]);
    }
    qs.Set("Offset", "1"); qs.Set("limit", Model.NumFound.ToString()); qs.Add("mediatype", "csv");
    string query = qs.ToString(); string urlCSV = path + "?" + query;
}


@Html.Partial("_ThemeGroup", Model)
@Html.Partial("_FacetFilter", Model)

<div id="vue-container" class="row">

    <div class="col-md-9">
        <div is="facet-filter" filter-type="tabs" class="facet-filter"></div>
        @if (Model.Result != null)
        {
            <div is="theme-group"></div>
        }
        <div class="margin-top-10">
            @Html.Partial("_Pagination", Model)
        </div>
    </div>


    <div class="col-sm-12 col-md-3 pull-left hidden-sm hidden-xs">
        <aside>
            <h3 class="">@Resources.UI.FilterSearch:</h3>
            <span class="separator-small"></span>
            <div is="facet-filter" filter-type="sidebar" class="facet-filter"></div>
            <h3 class="" style="padding-top: 40px;">@Resources.UI.Pages</h3>
            <span class="separator-small"></span>
            @Html.Partial("_FilterPages")

            <div class="save-as-menu">
                <h3 style="padding-top: 40px;">@Resources.UI.SaveAs:</h3>
                <span class="separator-small"></span>

                <div class="no-padding-bottom save-as-dropdown">
                    <div class="custom-select">
                        <select onchange="additionalView(this.value)" class="form-control">
                            <option value="csvUrl" selected="selected">CSV</option>
                        </select>
                    </div>
                </div>
                <div id="saveButtons" class="no-padding-bottom save-as-buttons">
                    <a class="btn" id="csvUrl" href="@urlCSV">@Resources.UI.Save</a>
                </div>
            </div>
        </aside>
    </div>

</div>


<script>
    var Search = new Vue({
        el: "#vue-container",
        components: {
            ThemeGroup: ThemeGroup,
            FacetFilter: FacetFilter
        },
        data: {
            viewType: 'tableView',
            selectedFields: [
                { name: 'title', size: '5' },
                { name: 'owner', size: '4' },
                { name: 'openData', size: '1' }
            ],
            selectedButtons: [
                'showInMapButton',
                'addToCartButton'
            ]
        }
    });
</script>
