@model SearchViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        @Html.Partial("_SearchBox", Model.Parameters)     
        
        @foreach (var facet in Model.Result.Facets)
        {
            <h4>@facet.FacetField</h4>
            <ul>
                @foreach (var facetResult in facet.FacetResults)
                {
                    <li><a href="@Url.Action("Index", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">@facetResult.Name (@facetResult.Count)</a></li>
                }
                <li><a href="@Model.CreateRoutesForFacetFieldsExcept(facet.FacetField)">Vis alle</a></li>
            </ul>
        }
    </div>
    <div class="col-sm-12 col-md-8">
        @if (Model.Result != null)
        {
            <ul class="search-results">
                @foreach (var item in Model.Result.Items)
                {
                    <li>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:70px">
                                <img src="@item.OrganizationLogoUrl" height="50" class="pull-right">
                                <h4><a href="@Url.Action("Index", "Metadata", new { uuid = item.Uuid, organization = item.Organization, title = item.Title })">@item.Title</a></h4>
                                <p>@item.Organization</p>
                            </div>
                            <div class="panel-body">
                                <img src="@item.ThumbnailUrl" width="200" class="pull-left" style="padding-right: 15px;">
                                <p>@item.Abstract</p>
                                <p>
                                    <span class="label label-info">@item.Type</span>
                                </p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>




