@using Kartverket.Metadatakatalog.Models.ViewModels
@using Resources
@model SearchViewModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = "Søk etter " + Model.Text;
    }
    else
    {
        ViewBag.Title = "Søk";
    }
}

@helper DisplayFacet(SearchResultFacetViewModel facet)
{
    <h4>@UI.ResourceManager.GetString("Facet_" + facet.FacetField)</h4>
    <ul class="facet">
        @foreach (var facetResult in facet.FacetResults)
        {
            <li><a href="@Url.Action("Index", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">@facetResult.LinkName() (@facetResult.Count)</a></li>
        }
        @if (Model.HasFilterForFacetField(facet.FacetField))
        {
            <li><a href="@Url.Action("Index", Model.CreateRoutesForFacetFieldsExcept(facet.FacetField))">Vis alle</a></li>
        }
    </ul>
}

@helper DisplayPagination()
{
    <p class="text-right">Viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</p>
    <nav class="text-right">
        <ul class="pagination">
            @if (Model.IsPreviousButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; Forrige</a></li>
            }
            @if (Model.IsNextButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForNextLink())">Neste &raquo;</a></li>
            }
        </ul>
    </nav>
}

@section scripts {
    <script>
        $('ul.facet').each(function () {
            var max = 15;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
    </script>
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        @Html.Partial("_SearchBox", Model)
        
        @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "theme"))
        @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "type"))
        @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "organization"))
        @*DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "keyword"))*@
    </div>
    <div class="col-sm-12 col-md-8">
        @if (Model.Result != null)
        {
            @DisplayPagination()
            
            <ul class="search-results">
                @foreach (var item in Model.Result.Items)
                {
                    <li style="border-bottom: 1px solid #ccc; margin-bottom: 10px; margin-top: 10px" class="clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                @if (!string.IsNullOrWhiteSpace(item.OrganizationLogoUrl))
                                {
                                    <a href="@Url.Action("Organization", "Metadata", new { organization = @item.OrganizationUrlName() })">
                                        <img src="@item.OrganizationLogoUrl" width="100" alt="Logo @item.Organization" title="Vis alle tjenester og datasett fra @item.Organization" style="margin: 5px" />
                                    </a>
                                }
                            </div>
                            <div class="col-md-10">
                                <h4><a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">@item.Title</a></h4>
                                @if (!string.IsNullOrWhiteSpace(item.ThumbnailUrl))
                                {
                                    <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">
                                        <img src="@item.ThumbnailUrl" width="150" class="pull-right" style="margin: 10px;">
                                    </a>
                                }
                                
                                <p><a href="@Url.Action("Organization", "Metadata", new { organization = @item.OrganizationUrlName() })" title="Vis alle tjenester og datasett fra @item.Organization">@item.Organization</a></p>
                                
                                <p>@item.Abstract</p>
                                
                            </div>
                        </div>
                    </li>
                }
            </ul>

            @DisplayPagination()

        }
    </div>
</div>




