@using Resources
@model Kartverket.Metadatakatalog.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Søk - " + Model.Text;
}

@helper PreviousButtonDisabled()
{
    if (!Model.IsPreviousButtonActive())
    {
        <text>disabled</text>
    }
}

@helper NextButtonDisabled()
{
    if (!Model.IsNextButtonActive())
    {
        <text>disabled</text>
    }
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        @Html.Partial("_SearchBox", Model)
        
        @foreach (var facet in Model.Result.Facets)
        {
            <h4>@UI.ResourceManager.GetString("Facet_" + facet.FacetField)</h4>
            <ul>
                @foreach (var facetResult in facet.FacetResults)
                {
                    <li><a href="@Url.Action("Index", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">@facetResult.LinkName() (@facetResult.Count)</a></li>
                }
                @if (Model.HasFilterForFacetField(facet.FacetField))
                {
                    <li><a href="@Url.Action("Index", Model.CreateRoutesForFacetFieldsExcept(facet.FacetField))">Vis alle</a></li>
                }
            </ul>
        }
    </div>
    <div class="col-sm-12 col-md-8">
        @if (Model.Result != null)
        {
            <p class="text-right">@Model.NumFound treff</p>
        <!--
            <nav>
                <ul class="pagination">
                    <li class="@PreviousButtonDisabled()"><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="@if (!Model.IsNextButtonActive()) {<text>disabled</text>}"><a href="#">&raquo;</a></li>
                </ul>
            </nav>
            -->
            <ul class="search-results">
                @foreach (var item in Model.Result.Items)
                {
                    <li>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:70px">
                                <img src="@item.OrganizationLogoUrl" height="50" class="pull-right">
                                <h4><a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">@item.Title</a></h4>
                                <p>@item.Organization</p>
                            </div>
                            <div class="panel-body">
                                <img src="@item.ThumbnailUrl" width="200" class="pull-left" style="padding-right: 15px;">
                                <p>@item.Abstract</p>
                                <p>
                                    <span class="label label-info">@item.Type</span>
                                </p>
                            </div>
                        </div>
                    </li>
                }
            </ul>

            

        }
    </div>
</div>




