@using Kartverket.Metadatakatalog.Models.ViewModels
@using Resources
@using Kartverket.Metadatakatalog.Helpers
@model SearchViewModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = "Søk etter " + Model.Text;
    }
    else
    {
        ViewBag.Title = "Søk";
    }
}



@helper DisplayFacet(SearchResultFacetViewModel facet)
{
    <h4>@UI.ResourceManager.GetString("Facet_" + facet.FacetField)</h4>


    
        foreach (var facetResult in facet.FacetResults)
        {
            <div class="filter-options"><a class="btn-link" href="@Url.Action("Index", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">@facetResult.LinkName() (@facetResult.Count)</a></div>
        }
        if (Model.HasFilterForFacetField(facet.FacetField))
        {
            <div class="filter-options"><a class="btn-link" href="@Url.Action("Index", Model.CreateRoutesForFacetFieldsExcept(facet.FacetField))">Vis alle</a></div>
        }
 
}

@helper DisplayPagination()
{
    <div class="search-filter-wrapper">
        <ul class="nav nav-tabs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="tablist">
            <li class="active"><span role="tab">Kartkatalogen viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</span></li>

            <li class="pull-right">
                <label>Sorter etter:</label>
                <select id="orderby">
                    @if (Model.orderby == 0)
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByScoreLink())" selected="selected">Relevans</option>
                    }
                    else { 
                        <option value="@Url.Action("Index", Model.ParamsForOrderByScoreLink())" >Relevans</option>
                    }
                    @if (Model.orderby == 1)
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByTitleLink())" selected="selected">Navn</option>
                    }
                    else
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByTitleLink())">Navn</option>
                    }
                    @if (Model.orderby == 2)
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByOrganizationLink())" selected="selected">Organisasjon</option>
                    }
                    else
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByOrganizationLink())">Organisasjon</option>
                    }
                    @if (Model.orderby == 3)
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByMetadataUpdateLink())" selected="selected">Dato oppdatert (metadata)</option>
                    }
                    else
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByMetadataUpdateLink())">Dato oppdatert (metadata)</option>
                    }
                    @if (Model.orderby == 4)
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByResourceUpdateLink())" selected="selected">Dato oppdatert (ressurs)</option>
                    }
                    else
                    {
                        <option value="@Url.Action("Index", Model.ParamsForOrderByResourceUpdateLink())">Dato oppdatert (ressurs)</option>
                    }
                    
                 </select>

            </li>
        </ul>
    </div>
}

@helper DisplayPaginationBottom()
{
    <div class="search-filter-wrapper">
        <ul class="nav nav-tabs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="tablist">
            <li class="active"><span role="tab">Kartkatalogen viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</span></li>

            <li class="btn-group pull-right">

                @if (Model.IsPreviousButtonActive())
                {
                    <span><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; Forrige</a></span>
                }
                @if (Model.IsNextButtonActive())
                {
                    <span><a href="@Url.Action("Index", Model.ParamsForNextLink())">Neste &raquo;</a></span>
                }

            </li>
           
        </ul>
    </div>
}



@section scripts {
    <script>
        $('ul.facet').each(function () {
            var max = 15;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
        $("#orderby").change(function () {
            document.location.href = $(this).val();
        });

    </script>

   
}


<article class="row">
    @Html.Partial("_SearchBarPartial", Model)
</article>

<div class="row">
    <div class="col-sm-12 col-md-3 pull-left">
        <div class="hidden-sm hidden-xs">
            <div class="panel panel-info" id="filterInner">
                <div class="panel-heading">
                    <h2 class="panel-title">Søkefilter<span class="glyphicon glyphicon-filter pull-right"></span></h2>
                </div>
                <div class="panel-body">
                    @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "theme"))
                    @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "type"))
                    @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "nationalinitiative"))
                    @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "placegroups"))                    
                    @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "organization"))

                    @*@DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "license"))*@
                    @*DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "keyword"))*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 pull-right">
        @if (Model.Result != null)
        {
            @DisplayPagination()

            <div class="search-results">
                @foreach (var item in Model.Result.Items)
                {
                    <div class="row result-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2">




                                @if (!string.IsNullOrWhiteSpace(item.OrganizationLogoUrl))
                                {
                                    <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = @item.OrganizationSeoName() })">
                                        <img src="@item.OrganizationLogoUrl" width="100" alt="Logo @item.Organization" title="Vis alle tjenester og datasett fra @item.Organization" style="margin: 5px" />
                                    </a>
                                }
                            </div>
                            <div class="col-md-10">
                                <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())"><h4 class="role-button" role="button">@item.Title</h4></a>
                                @if (!string.IsNullOrWhiteSpace(item.ThumbnailUrl))
                                {
                                    <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">
                                        <img src="@item.ThumbnailUrl" width="150" class="pull-right" style="margin: 10px;">
                                    </a>
                                }

                                <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = @item.OrganizationSeoName() })" title="Vis alle tjenester og datasett fra @item.Organization"><h5>@item.Organization</h5></a>

                                <p>
                                    @if (item.Abstract.Length > 650)
                                    {
                                        @item.Abstract.Substring(0,654)<text>...</text>
                                    }
                                    else
                                    {
                                        @item.Abstract
                                    }
                                        
                                </p>
                                <div class="label @item.GetInnholdstypeCSS()">@item.GetInnholdstype()</div>
                                @if (item.GetInnholdstype() == "Datasett")
                                {
                                <a href="@item.DownloadUrl" class="btn btn-xs btn-bunnmarg btn-default" target="_blank">
                                    <span class="glyphicon glyphicon-download-alt"></span> Last ned
                                </a>
                                }
                                else if (item.GetInnholdstype() == "Tjeneste" || item.GetInnholdstype() == "WMS-lag (Tjenestelag)")
                                {
                                    <a href="@Html.NorgeskartUrl()@item.DownloadUrl" class="btn btn-xs btn-bunnmarg btn-default" target="_blank">
                                        <span class="glyphicon glyphicon-map-marker"></span> Vis i kart
                                    </a>
                                    
                                    @*<a onclick='javascript:msgAddMapLayer("@item.ServiceUrl")' class="btn btn-xs btn-bunnmarg btn-default">
                                        <span class="glyphicon glyphicon-plus"></span> Legg til kartlag
                                    </a>*@

                                }
                                else if (item.GetInnholdstype() == "Applikasjon")
                                {
                                    <a href="@item.DownloadUrl" class="btn btn-xs btn-bunnmarg btn-default" target="_blank">
                                        <span class="glyphicon glyphicon-globe"></span> Vis applikasjon
                                    </a>
                                }
                                else
                                {
                                <a href="@item.DownloadUrl" class="btn btn-xs btn-bunnmarg btn-default" target="_blank">
                                    <span class="glyphicon glyphicon-download-alt"></span> Last ned
                                </a>
                                }
                               
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>

            @DisplayPaginationBottom()

        }
    </div>
</div>




