@model Kartverket.Metadatakatalog.Models.MetadataViewModel
@{
    ViewBag.Title = Model.Title + " - " + Model.ContactMetadata.Organization;
    ViewBag.MetaDescription = Model.Abstract;

    var hierarchyLevelCssClass = "";
    var hierarchyLevelLabelText = "";
    if (Model.IsService())
    {
        hierarchyLevelCssClass = "label-info";
        hierarchyLevelLabelText = "Tjeneste";
    }
    else if (Model.IsDataset())
    {
        hierarchyLevelCssClass = "label-success";
        hierarchyLevelLabelText = "Datasett";
    }
    else if (Model.IsApplication())
    {
        hierarchyLevelCssClass = "label-warning";
        hierarchyLevelLabelText = "Applikasjon";
    }
    else if (Model.IsDatasetSeries())
    {
        hierarchyLevelCssClass = "label-primary";
        hierarchyLevelLabelText = "Datasettserie";
    }
    else
    {
        hierarchyLevelCssClass = "label-default";
        hierarchyLevelLabelText = Model.HierarchyLevel;
    }
}

@helper ShowContact(string label, Contact contact)
{
    if (contact != null)
    {
        <p>
            <strong>@label:</strong><br />
            <a href="mailto:@contact.Email">
                @if (!string.IsNullOrWhiteSpace(contact.Name))
                {
                    <text>@contact.Name, </text>
                }
                @contact.Email
            </a> &ndash; @contact.Organization
        </p>
    }
}

<div class="label @hierarchyLevelCssClass">@hierarchyLevelLabelText</div>

<h1>@Model.Title</h1>




@if (Model.ContactMetadata != null)
{
    <h2>
        <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = Model.OrganizationSeoName() })" title="Vis alle geografiske tjenester og datasett fra @Model.ContactMetadata.Organization">
            @if (!string.IsNullOrWhiteSpace(Model.OrganizationLogoUrl))
            {
                <img src="@Model.OrganizationLogoUrl" alt="Logo @Model.ContactMetadata.Organization" width="100" />
            }
            @Model.ContactMetadata.Organization
        </a>
    </h2>
}


<div class="clearfix">
    @if (Model.Thumbnails != null && Model.Thumbnails.Count > 0)
    {
        <img src="@Model.Thumbnails[0].URL" width="300" class="thumbnail pull-right" alt="Forhåndsvisning av data." />
    }

    <h3>Sammendrag</h3>
    @Model.Abstract

    <h3>Tilgjengelige ressurser</h3>
    <p>
        @if (Model.DistributionDetails != null)
        {
            <a href="@Model.DistributionDetails.URL" class="btn btn-default btn-primary">
                @if (@Model.DistributionDetails.IsWmsUrl())
                {
                    <text><span class="glyphicon glyphicon-globe"></span> Web Map Service (WMS)</text>
                }
                else if (@Model.DistributionDetails.IsWfsUrl())
                {
                    <text><span class="glyphicon glyphicon-globe"></span> Web Feature Service (WFS)</text>
                }
                else if (Model.IsApplication())
                {
                    <text><span class="glyphicon glyphicon-road"></span> Gå til applikasjon</text>
                }
                else
                {
                    <text><span class="glyphicon glyphicon-download-alt"></span> Last ned datasett</text>
                }
            </a>
            if (Model.DistributionDetails.IsWmsUrl())
            {
                <a href="http://norgeskart.no/geoportal/staging/#5/355422/6668909/l/wms/[@Model.DistributionDetails.URL]" class="btn btn-default">
                    <span class="glyphicon glyphicon-picture"></span> Vis tjenesten i Norgeskart
                </a>
            }
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProductPageUrl))
        {
            <a href="@Model.ProductPageUrl" class="btn btn-default" title="Gå til produktsiden for @Model.Title">
                <span class="glyphicon glyphicon-info-sign"></span> Produktside
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProductSheetUrl))
        {
            <a href="@Model.ProductSheetUrl" class="btn btn-default" title="Last ned produktark for @Model.Title">
                <span class="glyphicon glyphicon-globe"></span> Produktark
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProductSpecificationUrl))
        {
            <a href="@Model.ProductSpecificationUrl" class="btn btn-default" title="Last ned produktspesifikasjon for @Model.Title">
                <span class="glyphicon glyphicon-list-alt"></span> Produktspesifikasjon
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.LegendDescriptionUrl))
        {
            <a href="@Model.LegendDescriptionUrl" class="btn btn-default" title="Last ned kartografi for @Model.Title">
                <span class="glyphicon glyphicon-picture"></span> Kartografi
            </a>
        }
    </p>

    @if (!string.IsNullOrWhiteSpace(Model.Purpose))
    {
        <h3>Formål</h3>
        <p>@Model.Purpose</p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.SupplementalDescription))
    {
        <h3>Supplerende beskrivelse</h3>
        <p>@Model.SupplementalDescription</p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.SpecificUsage))
    {
        <h3>Bruksområde</h3>
        <p>@Model.SpecificUsage</p>
    }
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>Kontaktinformasjon</h3>
        @ShowContact("Metadatakontakt", Model.ContactMetadata)
        @ShowContact("Faglig kontakt", Model.ContactOwner)
        @ShowContact("Teknisk kontakt", Model.ContactPublisher)

        <h3>Distribusjon</h3>
        @DisplayValue("Representasjonsform", Model.SpatialRepresentation)
        @if (Model.DistributionFormat != null)
        {
            <text>@DisplayValue("Format", Model.DistributionFormat.Name)</text>
            <text>@DisplayValue("Versjon", Model.DistributionFormat.Version)</text>
        }
        @if (Model.DistributionDetails != null)
        {
            <text>@DisplayValue("Protokoll", Model.DistributionDetails.Protocol)</text>
            if (!string.IsNullOrWhiteSpace(Model.DistributionDetails.URL))
            {
                <p>
                    <strong>Url:</strong> <a href="@Model.DistributionDetails.URL">@Model.DistributionDetails.URL</a>
                </p>
            }
            <text>@DisplayValue("Lagnavn", Model.DistributionDetails.Name)</text>
        }
        
        @if (Model.Constraints != null)
        {
            <h3>Restriksjoner</h3>
            @DisplayValue("Bruksbegrensninger", Model.Constraints.UseLimitations)
            @DisplayValue("Tilgangsrestriksjoner", Model.Constraints.AccessConstraints)
            @DisplayValue("Brukerrestriksjoner", Model.Constraints.UseConstraints)
            @DisplayValue("Andre restriksjoner", Model.Constraints.OtherConstraints)
            @DisplayValue("Sikkerhetsnivå", Model.Constraints.SecurityConstraints)
        }
        
        <h3>Kvalitet</h3>
        @DisplayValue("Målestokkstall", Model.SpatialRepresentation)
        @DisplayValue("Status", Model.Status)
        @DisplayValue("Prosesshistorie", Model.ProcessHistory)



    </div>

    <div class="col-sm-6">

        <h3>Tid og rom</h3>
        @if (Model.DateUpdated != null)
        {
            <p><strong>Oppdatert:</strong> @Html.DisplayFor(m => m.DateUpdated)</p>
        }
        else if (Model.DatePublished != null)
        {
            <p><strong>Publisert:</strong> @Html.DisplayFor(m => m.DatePublished)</p>
        }
        else if (Model.DateCreated != null)
        {
            <p><strong>Opprettet:</strong> @Html.DisplayFor(m => m.DateCreated)</p>
        }

        @if (Model.MaintenanceFrequencyTranslated() != null)
        {
            <p><strong>Oppdateringshyppighet:</strong> @Model.MaintenanceFrequencyTranslated()</p>
        }
        @if (Model.KeywordsPlace != null && Model.KeywordsPlace.Count > 0)
        {
            
                @DisplayKeywords("Geografisk område", Model.KeywordsPlace)
            
        }

        @if (Model.BoundingBox != null)
        {
            <p>
                <strong>Geografisk utstrekning:</strong>
                Nord: @Model.BoundingBox.NorthBoundLatitude
                Sør: @Model.BoundingBox.SouthBoundLatitude
                Øst: @Model.BoundingBox.EastBoundLongitude
                Vest: @Model.BoundingBox.WestBoundLongitude

            </p>
        }

        <h3>Nøkkelord</h3>
        @DisplayKeywords("Tema", Model.KeywordsTheme)
        @DisplayKeywords("DOK-kategori", Model.KeywordsNationalTheme)
        @DisplayKeywords("Samarbeid og lover", Model.KeywordsNationalInitiative)
        @DisplayKeywords("Inspire", Model.KeywordsInspire)
        @DisplayKeywords("Annet", Model.KeywordsOther)

    </div>
</div>

<div class="btn-group">
    <a href="@Model.MetadataXmlUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-file"></span> Last ned metadata XML</a>
    <a href="@Model.MetadataEditUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Rediger metadata</a>
</div>


@helper DisplayValue(string label, string value)
{
    if (!string.IsNullOrWhiteSpace(value))
    {
        <p><strong>@label:</strong> @value</p>
    }
}

@helper DisplayKeywords(string label, List<Keyword> keywords)
{
    if (keywords != null && keywords.Any())
    {
        <strong>@label:</strong>
        <ul>
            @foreach (var keyword in keywords)
            {
                <li>@keyword.KeywordValue</li>
            }
        </ul>
    }
}