@using Kartverket.Metadatakatalog.Helpers
@model Kartverket.Metadatakatalog.Models.MetadataViewModel
@{
    ViewBag.Title = Model.Title + " - " + Model.ContactMetadata.Organization;
    ViewBag.MetaDescription = Model.Abstract;

    var hierarchyLevelCssClass = "";
    var hierarchyLevelLabelText = "";
    if (Model.IsDataset())
    {
        hierarchyLevelCssClass = "label-success";
        hierarchyLevelLabelText = "Datasett";
    }
    else if (Model.IsServiceLayer())
    {
        hierarchyLevelCssClass = "label-info";
        hierarchyLevelLabelText = "WMS-lag (Tjenestelag)";
    }
    else if (Model.IsService())
    {
        hierarchyLevelCssClass = "label-info";
        hierarchyLevelLabelText = "Tjeneste";
    }
    else if (Model.IsApplication())
    {
        hierarchyLevelCssClass = "label-warning";
        hierarchyLevelLabelText = "Applikasjon";
    }
    else if (Model.IsDatasetSeries())
    {
        hierarchyLevelCssClass = "label-primary";
        hierarchyLevelLabelText = "Datasettserie";
    }
    
    else
    {
        hierarchyLevelCssClass = "label-default";
        hierarchyLevelLabelText = Model.HierarchyLevel;
    }
}
 
@section breadcrumb {
    <li class="active">@Model.Title</li>
}


@helper ShowContact(string label, Contact contact)
{
    if (contact != null)
    {
        <p>
            <strong>@label:</strong><br />
            <a href="mailto:@contact.Email">
                @if (!string.IsNullOrWhiteSpace(contact.Name))
                {
                    <text>@contact.Name, </text>
                }
                @contact.Email
            </a> &ndash; @contact.Organization
        </p>
    }
}


<p></p>

<div class="page-header">
    <h1 class="h-md">@Model.Title</h1>
    <hr>
</div>





@if (Model.ContactOwner != null)
{
    <h2>
        <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = Model.OrganizationSeoName() })" title="Vis alle geografiske tjenester og datasett fra @Model.ContactOwner.Organization">
            @if (!string.IsNullOrWhiteSpace(Model.OrganizationLogoUrl))
            {
                <img src="@Model.OrganizationLogoUrl" alt="Logo @Model.ContactOwner.Organization" width="100" />
            }
            @Model.ContactOwner.Organization
        </a>
    </h2>
}


<div class="clearfix">
    @if (Model.Thumbnails != null && Model.Thumbnails.Count > 0)
    {
        foreach (var thumb in Model.Thumbnails)
            {
                if (thumb.Type == "thumbnail" || thumb.Type == "miniatyrbilde") 
                {
                <img src="@thumb.URL" width="300" class="thumbnail pull-right" alt="Forhåndsvisning av data." />
                    break;
                }   
            }        
    }
    <div class="label @hierarchyLevelCssClass">@hierarchyLevelLabelText</div>
    <h3>Sammendrag</h3>
    @Model.Abstract

    <h3>Tilgjengelige ressurser</h3>
    <p>
       
        @if (Model.ShowWebsiteLink())
        {
            <a href="@Model.DistributionDetails.URL" class="btn btn-default btn-primary">
                <span class="glyphicon glyphicon-globe"></span> besøk nettside
            </a>
        }
                
        @if (Model.ShowDownloadLink())
        {
            <a href="@Model.DistributionDetails.URL" class="btn btn-default btn-primary">
                <span class="glyphicon glyphicon-download-alt"></span> Last ned datasett
            </a>
        }

        @if (Model.ShowMapLink())
        {
            <a href="@Html.NorgeskartUrl()@Model.MapUrl()/" class="btn btn-default btn-primary" target="_blank">
                <span class="glyphicon glyphicon-map-marker"></span> Vis tjenesten i kartet
            </a>
        }       

        @if (!string.IsNullOrWhiteSpace(Model.ProductPageUrl))
        {
            <a href="@Model.ProductPageUrl" class="btn btn-default" title="Gå til produktsiden for @Model.Title">
                <span class="glyphicon glyphicon-info-sign"></span> Produktside
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProductSheetUrl))
        {
            <a href="@Model.ProductSheetUrl" class="btn btn-default" title="Last ned produktark for @Model.Title">
                <span class="glyphicon glyphicon-globe"></span> Produktark
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProductSpecificationUrl))
        {
            <a href="@Model.ProductSpecificationUrl" class="btn btn-default" title="Last ned produktspesifikasjon for @Model.Title">
                <span class="glyphicon glyphicon-list-alt"></span> Produktspesifikasjon
            </a>
        }

        @if (!string.IsNullOrWhiteSpace(Model.LegendDescriptionUrl))
        {
            <a href="@Model.LegendDescriptionUrl" class="btn btn-default" title="Last ned kartografi for @Model.Title">
                <span class="glyphicon glyphicon-picture"></span> Kartografi
            </a>
        }
        
        
     @if (!string.IsNullOrEmpty(Model.CoverageUrl))
      {
         if(Model.CoverageUrl.IndexOf("TYPE:") > -1)
         {
            string CoverageLink = "";
            var coverageStr = Model.CoverageUrl;
            var startPos = 5;
            var endPosType = coverageStr.IndexOf("@PATH");
            var typeStr = coverageStr.Substring(startPos, endPosType - startPos);            

            var endPath = coverageStr.IndexOf("@LAYER");
            var pathStr = coverageStr.Substring(endPosType + startPos + 1, endPath - (endPosType + startPos + 1));

            var startLayer = endPath + 7;
            var endLayer = coverageStr.Length - startLayer;
            var layerStr = coverageStr.Substring(startLayer, endLayer);
             
            if (typeStr == "WMS")
            {
                CoverageLink = "http://norgeskart.no/geoportal/#5/355422/6668909/l/wms/[" + pathStr + "]/+" + layerStr;
            }
           
            else if (typeStr == "WFS")
            {
                CoverageLink = "http://norgeskart.no/geoportal/#5/355422/6668909/l/wms/[" + pathStr + "]/+" + layerStr;
            }
            
            else if (typeStr == "GeoJSON")
            {
                CoverageLink = "http://norgeskart.no/geoportal/#5/355422/6668909/l/wms/[" + pathStr + "]/+" + layerStr;
            }
        
           <a href="#" class="btn btn-default" title="Gå til dekningskart for @Model.Title" onclick="window.open('@CoverageLink', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes');">
                <span class="glyphicon glyphicon-info-sign"></span> Vis dekningskart
            </a>
         
         }
         else
         {
        <p>
            <a href="#" class="btn btn-default" title="Gå til dekningskart for @Model.Title" onclick="window.open('@Model.CoverageUrl', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=100, left=50, width=800, height=600');">
                <span class="glyphicon glyphicon-info-sign"></span> Vis dekningskart
            </a>

        </p>
         }
      }
     else
     {
        if (Model.Thumbnails != null && Model.Thumbnails.Count > 0)
        {
            <p>
                @foreach (var thumb in Model.Thumbnails)
                {
                    if (thumb.Type == "dekningsoversikt")
                    {
                        <a href="#" class="btn btn-default" title="Gå til dekningskart for @Model.Title" onclick="window.open('@thumb.URL', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=100, left=50, width=400, height=400');">
                            <span class="glyphicon glyphicon-info-sign"></span> Vis dekningskart
                        </a>
                    }
                }
            </p>
        }

     }
        <script>

            function getMetadata(uuid) {

                $.getJSON("/api/search?text=" + uuid, function (result) {


                    if (result.length != 0) {

                        if (result.Results[0] != null) {
                            var title = result.Results[0].Title;
                            $("#related-" + uuid).text(title);

                        }
                        else
                            $("#related-" + uuid).text("Tittel mangler");
                    }

                    else {
                        $("#related-" + uuid).text("Tittel mangler");
                    }

                });
            };
        </script>



        @if (!string.IsNullOrWhiteSpace(Model.ParentIdentifier))
        {
            <h4>Overordnet metadata</h4>
            <script>getMetadata('@Model.ParentIdentifier');</script>
            <a id="related-@Model.ParentIdentifier" href="/metadata/org/title/@Model.ParentIdentifier" title="Overordnet metadata for @Model.Title">
            </a>
        }
        @if (Model.OperatesOn != null)
        {
            if (Model.OperatesOn.Count > 0)
            {        
            <h4>Relaterte metadata</h4>
            <div class="pre-scrollable" style="max-height: 100px; width: 400px;@(Model.OperatesOn.Count <= 2 ? "overflow-y: visible" : "")">
                <ul id="relatedList">
                    @foreach (var id in Model.OperatesOn)
                    {
                        <li>
                            <a id="related-@id" href="/metadata/org/title/@id" class="" title="Relatert metadata for @Model.Title">

                            </a>
                        </li>
                        <script>getMetadata('@id');</script>
                    }
                </ul>

            </div>
            <script>

                $(function () {
                    $.fn.sortList = function () {
                        var mylist = $(this);
                        var listitems = $('li', mylist).get();
                        listitems.sort(function (a, b) {
                            var compA = $(a).text().toUpperCase();
                            var compB = $(b).text().toUpperCase();
                            return (compA < compB) ? -1 : 1;
                        });
                        $.each(listitems, function (i, itm) {
                            alert
                            mylist.append(itm);
                        });
                    
                    }
                });
                setTimeout('$("ul#relatedList").sortList()', 3000);
            </script>    
            }
        }
        
    </p>

    @if (!string.IsNullOrWhiteSpace(Model.Purpose))
    {
        <h3>Formål</h3>
        <p>@Model.Purpose</p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.SupplementalDescription))
    {
        <h3>Supplerende beskrivelse</h3>
        <p>@Model.SupplementalDescription</p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.SpecificUsage))
    {
        <h3>Bruksområde</h3>
        <p>@Model.SpecificUsage</p>
    }
    <p>
        @if (!string.IsNullOrWhiteSpace(Model.ResourceReferenceCode))
        {
            <span><b>Unik ressurs-id:</b></span>
            <span>@Model.ResourceReferenceCode</span><span>.</span>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ResourceReferenceCodespace))
        {
            <span><b>Navnerom:</b></span>
            <span>@Model.ResourceReferenceCodespace</span><span>.</span>
        }
    </p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="page-header">
            <h3 class="h-md">Kontaktinformasjon</h3>
            <hr>
        </div>
      
        @ShowContact("Metadatakontakt", Model.ContactMetadata)
        @ShowContact("Faglig kontakt", Model.ContactOwner)
        @ShowContact("Teknisk kontakt", Model.ContactPublisher)

        <h3>Distribusjon</h3>
        @DisplayValue("Representasjonsform", Model.SpatialRepresentation)
        @if (Model.DistributionFormats != null)
        {
            foreach (var format in Model.DistributionFormats)
            {
                <p>
                    <b>Format:</b> @format.Name
                    @if (!string.IsNullOrWhiteSpace(format.Version)) 
                    { 
                    <b>Versjon:</b> @format.Version
                    }    
                </p>
            }
        }
        @if (Model.DistributionDetails != null)
        {
            <text>@DisplayValue("Protokoll", Model.DistributionDetails.Protocol)</text>
            if (!string.IsNullOrWhiteSpace(Model.DistributionDetails.URL))
            {
                if (Model.IsService() || Model.IsServiceLayer())
                {
                  <p>
                    <strong>Get Capabilities Url:</strong> <a href="@Model.DistributionDetailsGetCapabilitiesUrl()">@Model.DistributionDetails.URL</a>
                  </p>  
                }
                else
                {
                  <p>
                    <strong>Url:</strong> <a href="@Model.DistributionDetails.URL">@Model.DistributionDetails.URL</a>
                  </p>  
                }
                
            }
            <text>@DisplayValue("Geografisk distribusjonsinndeling", Model.UnitsOfDistribution)</text>
            <text>@DisplayValue("Lagnavn", Model.DistributionDetails.Name)</text>
        }
        
        @if (Model.ReferenceSystems != null)
        {
            foreach (var refsys in Model.ReferenceSystems)
            {
                <p>
                    <strong>Romlig referansesystem: </strong>@refsys.CoordinateSystem
                    <br><strong>Koderom: </strong>@refsys.Namespace
                </p>
            }
        }

        @if (Model.Constraints != null)
        {
            <h3>Restriksjoner</h3>
            @DisplayValue("Bruksbegrensninger", Model.Constraints.UseLimitations)
            @DisplayValue("Tilgangsrestriksjoner", Model.Constraints.AccessConstraints)
            @DisplayValue("Brukerrestriksjoner", Model.Constraints.UseConstraints)
            @DisplayValue("Andre restriksjoner", Model.Constraints.OtherConstraints)
            if (Model.Constraints != null && Model.Constraints.OtherConstraintsLink != null)
            {
                <p><strong>Lisens: </strong> <a href="@Model.Constraints.OtherConstraintsLink" target="_blank">@Model.Constraints.OtherConstraintsLinkText</a></p>
            }
            @DisplayValue("Sikkerhetsnivå", Model.Constraints.SecurityConstraints)
            // skal stå her
            @DisplayValue("Lovhenvisning", Model.Constraints.SecurityConstraintsNote)
        }
        
        <h3>Kvalitet</h3>
        @DisplayValue("Målestokkstall", Model.ResolutionScale)
        @DisplayValue("Status", Model.Status)
        @DisplayValue("Prosesshistorie", Model.ProcessHistory)
        
        @if (Model.QualitySpecification != null)
        {
        <h4>Konformitet</h4>
        <p>
            <strong>Standard: </strong>@Model.QualitySpecification.Title <br />
            <strong>Dato: </strong>@Html.DisplayFor(m => m.QualitySpecification.Date) (@Model.QualitySpecification.DateType) <br />
            <strong>Forklaring av resultat: </strong>@Model.QualitySpecification.Explanation <br />
            @(Model.QualitySpecification.Result ? "Godkjent" : "Ikke godkjent")
        </p>
        }
    </div>

    <div class="col-sm-6">
        <div class="page-header">
            <h3 class="h-md">Tid og rom</h3>
            <hr>
        </div>
            @if (Model.DateUpdated != null)
            {
                <p><strong>Oppdatert(Ressurs):</strong> @Html.DisplayFor(m => m.DateUpdated)</p>
            }
            @if (Model.DateMetadataUpdated != null)
            {
                <p><strong>Oppdatert(Metadata):</strong> @Html.DisplayFor(m => m.DateMetadataUpdated)</p>
            }
            @if (Model.DatePublished != null)
            {
                <p><strong>Publisert:</strong> @Html.DisplayFor(m => m.DatePublished)</p>
            }
            @if (Model.DateCreated != null)
            {
                <p><strong>Opprettet:</strong> @Html.DisplayFor(m => m.DateCreated)</p>
            }
            @if (Model.DateMetadataValidFrom != null)
            {
                <p><strong>Gyldighetsperiode:</strong> @Html.DisplayFor(m => m.DateMetadataValidFrom) - @Html.DisplayFor(m => m.DateMetadataValidTo) </p>
            }
            @if (Model.MaintenanceFrequencyTranslated() != null)
            {
                <p><strong>Oppdateringshyppighet:</strong> @Model.MaintenanceFrequencyTranslated()</p>
            }
            @if (Model.KeywordsPlace != null && Model.KeywordsPlace.Count > 0)
            {

                @DisplayKeywords("Geografisk område", Model.KeywordsPlace)

            }

            @if (Model.BoundingBox != null)
            {
                <p>
                    <strong>Geografisk utstrekning:</strong>
                    Nord: @Model.BoundingBox.NorthBoundLatitude
                    Sør: @Model.BoundingBox.SouthBoundLatitude
                    Øst: @Model.BoundingBox.EastBoundLongitude
                    Vest: @Model.BoundingBox.WestBoundLongitude

                </p>
            }

            <h3>Nøkkelord</h3>
            @DisplayKeywords("Tema", Model.KeywordsTheme)
            @DisplayKeywords("DOK-kategori", Model.KeywordsNationalTheme)
            @DisplayKeywords("Samarbeid og lover", Model.KeywordsNationalInitiative)
            @DisplayKeywords("Inspire", Model.KeywordsInspire)
            @DisplayKeywords("Annet", Model.KeywordsOther)

        </div>
</div>

<div class="btn-group">
    <a href="@Model.MetadataXmlUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-file"></span> Last ned metadata XML</a>
    <a href="@Model.MetadataEditUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Rediger metadata</a>
</div>


@helper DisplayValue(string label, string value)
{
    if (!string.IsNullOrWhiteSpace(value))
    {
        <p><strong>@label:</strong> @value</p>
    }
}

@helper DisplayKeywords(string label, List<Keyword> keywords)
{
    if (keywords != null && keywords.Any())
    {
        <strong>@label:</strong>
        <ul>
            @foreach (var keyword in keywords)
            {
                <li>@keyword.KeywordValue</li>
            }
        </ul>
    }
}

