@model MetadataViewModel
@{
    ViewBag.Title = Model.Title + " - " + Model.ContactMetadata.Organization;
    ViewBag.MetaDescription = Model.Abstract;
    
    var hierarchyLevelCssClass = "";
    var hierarchyLevelLabelText = "";
    if (Model.IsService())
    {
         hierarchyLevelCssClass = "label-info";
        hierarchyLevelLabelText = "Tjeneste";
    }
    else if (Model.IsDataset())
    {
        hierarchyLevelCssClass = "label-success";
        hierarchyLevelLabelText = "Datasett";
    }
    else if (Model.IsApplication())
    {
        hierarchyLevelCssClass = "label-warning";
        hierarchyLevelLabelText = "Applikasjon";
    }
    else if (Model.IsDatasetSeries())
    {
        hierarchyLevelCssClass = "label-primary";
        hierarchyLevelLabelText = "Datasettserie";
    }
    else
    {
        hierarchyLevelCssClass = "label-default";
        hierarchyLevelLabelText = Model.HierarchyLevel;
    }
}
<span class="label @hierarchyLevelCssClass">@hierarchyLevelLabelText</span>
<h1>@Model.Title</h1>

<h2>@Model.ContactMetadata.Organization</h2>
@if (Model.Thumbnails != null && Model.Thumbnails.Count > 0)
{
    <img src="@Model.Thumbnails[0].URL" width="300" class="pull-right thumbnail img-thumbnail" />
}

<h3>Sammendrag</h3>
<p>@Model.Abstract</p>

<h3>Formål</h3>
<p>@Model.Purpose</p>

<h3>Kontaktinformasjon</h3>
<p><strong>Metadatakontakt:</strong> <a href="mailto:@Model.ContactMetadata.Email">@Model.ContactMetadata.Name, @Model.ContactMetadata.Organization</a></p>
@if (Model.ContactPublisher != null)
{
    <p><strong>Faglig kontakt:</strong> <a href="mailto:@Model.ContactOwner.Email">@Model.ContactOwner.Name, @Model.ContactOwner.Organization</a></p>
}
@if (Model.ContactPublisher != null)
{
    <p><strong>Teknisk kontakt:</strong> <a href="mailto:@Model.ContactPublisher.Email">@Model.ContactPublisher.Name, @Model.ContactPublisher.Organization</a></p>
}

<p class="bg-info shortcuts">
    <a href="@Model.DistributionDetails.URL" class="btn btn-default btn-primary">
        @if (@Model.DistributionDetails.IsWmsUrl())
        {
            <text><span class="glyphicon glyphicon-globe"></span> Web Map Service (WMS)</text>
        }
        else if (@Model.DistributionDetails.IsWfsUrl())
        {
            <text><span class="glyphicon glyphicon-globe"></span> Web Feature Service (WFS)</text>
        }
        else
        {
            <text><span class="glyphicon glyphicon-download-alt"></span> Last ned</text>
        }
    </a>
    @if (@Model.DistributionDetails.IsWmsUrl())
    {
        <a href="http://norgeskart.no/geoportal/staging/#5/355422/6668909/l/wms/[@Model.DistributionDetails.URL]" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span> Vis tjenesten i Norgeskart</a>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.ProductPageUrl))
    {
        <a href="@Model.ProductPageUrl" class="btn btn-default">Produktside</a>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.ProductSheetUrl))
    {
        <a href="@Model.ProductSheetUrl" class="btn btn-default">Produktark</a>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.ProductSpecificationUrl))
    {
        <a href="@Model.ProductSpecificationUrl" class="btn btn-default">Produktspesifikasjon</a>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.LegendDescriptionUrl))
    {
        <a href="@Model.LegendDescriptionUrl" class="btn btn-default">Tegnforklaring</a>
    }
</p>

