@using Kartverket.Metadatakatalog.Models.ViewModels
@using Resources
@using Kartverket.Metadatakatalog.Helpers
@model SearchByOrganizationViewModel
@{
    ViewBag.Title = Model.OrganizationName;
}
@section breadcrumb {
    <li class="active">@Model.OrganizationName</li>
}



<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.OrganizationName
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>


@helper DisplayFacet(SearchResultFacetViewModel facet)
{

    <a data-toggle="collapse" class="facet-sok-tittel collapsed" href="#@facet.FacetField" aria-expanded="false">
        <span class="indicator"></span><p>@UI.ResourceManager.GetString("Facet_" + facet.FacetField)</p>
    </a>

    <div class="facet-sok-undertitler collapse" id="@facet.FacetField" aria-expanded="false">
        <ul>
            @foreach (var facetResult in facet.FacetResults)
            {
                string cssClass = (Model.HasFacetFieldValue(facet.FacetField, facetResult.Name) ? "active" : "");
                if (!string.IsNullOrEmpty(facetResult.LinkName()))
                {
                <li class="filter-options">
                    <a class="btn-link @cssClass" href="@Url.Action("Organization", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">
                        @*Html.Raw(Model.HasFacetFieldValue(facet.FacetField, facetResult.Name) ? "<b style='font-weight: 800;'>" : "") @facetResult.LinkName() @Html.Raw(Model.HasFacetFieldValue(facet.FacetField, facetResult.Name) ? "<b>" : "") (@facetResult.Count)
                        *@
                        @facetResult.LinkName()
                        <span class="text-muted">(@facetResult.Count)</span>
                    </a>
                </li>
                }
            }
            @if (Model.HasFilterForFacetField(facet.FacetField))
            {
                <li class="filter-options">
                    <button type="button" class="btn btn-default list-btn reset" onclick="location.href = '@Url.Action("Organization", Model.CreateRoutesForFacetFieldsExcept(facet.FacetField))';">
                        <span class="glyphicon glyphicon-plus"> </span>
                        Vis alle
                    </button>
                </li>
            }
        </ul>
    </div>
}

@helper DisplayFacetCheckbox(SearchResultFacetViewModel placegroup, SearchResultFacetViewModel facet)
{
List<SearchResultFacetValueViewModel> orderedList = new List<SearchResultFacetValueViewModel>();
var fylker = facet.FacetResults.Where(fy => fy.Name.Length == 4 && fy.Name != "0/21" && fy.Name != "0/22").Select(fy => fy).Distinct().OrderBy(fo => fo.AreaLinkName(Model.areaDictionary)).ToList();
foreach (var fylke in fylker)
{
    orderedList.Add(fylke);
    var kommuner = facet.FacetResults.Where(k => k.Name.Length > 4 && k.Name.StartsWith(fylke.Name)).Select(ko => ko).OrderBy(ko => ko.AreaLinkName(Model.areaDictionary)).ToList();
    foreach (var kommune in kommuner)
    {
        orderedList.Add(kommune);
    }
}

facet.FacetResults = orderedList.ToList();

    <a data-toggle="collapse" class="facet-sok-tittel collapsed" href="#@facet.FacetField" aria-expanded="false">
        <span class="indicator"></span><p>@UI.ResourceManager.GetString("Facet_" + facet.FacetField)</p>
    </a>

    <div class="facet-sok-undertitler collapse" id="@facet.FacetField" aria-expanded="false">
        <ul>
            @{
                foreach (var facetResult in placegroup.FacetResults)
                {
                    <text>
                        <li class="filter-options">

                            <a class="btn-link" href="@Url.Action("Organization", Model.LinkForFacetValue(placegroup.FacetField, facetResult.Name))">
                                @facetResult.Name.Trim()<span class="text-muted">(@facetResult.Count)</span>
                            </a>
                        </li>
                    </text>
                }
                string previousFacetLinkName = null;
                double hierarchyLevel = 0;
                foreach (var facetResult in facet.FacetResults)
                {
                    string cssClass = (Model.HasFacetFieldValue(facet.FacetField, facetResult.Name) ? "active" : "");

                    string hideChildren = (Model.HasFacetFieldValue(facet.FacetField, facetResult.Name) ? "show-children" : "hide-children");
                    double relativeHierarchyLevel = 0;


                    if (previousFacetLinkName != null)
                    {
                        relativeHierarchyLevel = Model.GetRelativeHierarchyLevel(facetResult.LinkName(), previousFacetLinkName);
                        hierarchyLevel += relativeHierarchyLevel;
                        if (relativeHierarchyLevel > 0)
                        {
                            <text>
                                <ul>
                                    <li class="filter-options">
                            </text>
                        }
                        else if (relativeHierarchyLevel < 0)
                        {
                            @:</li></ul>
                                }
                        else
                        {
                            @:</li>
                            }
                    }
                    <text>
                        <li class="filter-options @hideChildren ">

                            <a class="btn-link @cssClass " href="@Url.Action("Organization", Model.LinkForFacetValue(facet.FacetField, facetResult.Name))">@facetResult.AreaLinkName(Model.areaDictionary).Trim()<span class="text-muted">(@facetResult.Count)</span></a>

                    </text>

                    previousFacetLinkName = facetResult.LinkName().ToString();
                }
                for (int index = 0; index < hierarchyLevel; index++)
                {
                    @: </li></ul>
                        }
                bool hasAreaFilter = Model.HasFilterForFacetField(facet.FacetField);
                bool hasPlaceFilter = Model.HasFilterForFacetField(placegroup.FacetField);
                if (hasAreaFilter || hasPlaceFilter)
                {
                    var facetField = hasAreaFilter ? facet.FacetField : placegroup.FacetField;
                    <li class="filter-options">
                        <button type="button" class="btn btn-default list-btn reset" onclick="location.href = '@Url.Action("Organization", Model.CreateRoutesForFacetFieldsExcept(facetField))';">
                            <span class="glyphicon glyphicon-plus"> </span>
                            Vis alle
                        </button>
                    </li>
                }
            }</ul>
        </div>


}
@helper DisplayPaginationBottom()
{
    <div class="search-result-navigation">
        Viser @Model.ShowingFromAndTo() av @Model.NumFound treff:
        <div class="pagination-container">
            <ul class="pagination pagination-sm btn-group inline-block">
                @if (Model.IsFirstButtonActive())
                {
                    <li><a aria-label="Første" title="Første" href="@Url.Action("Organization", Model.ParamsForFirstLink())">&laquo;</a></li>
                }

                @if (Model.IsPreviousButtonActive())
                {
                    <li><a href="@Url.Action("Organization", Model.ParamsForPreviousLink())">&laquo; Forrige</a></li>
                }

                @for (int i = Model.startPage; i <= Model.endPage; i++)
                {
                    if (Model.IsActivePage(i))
                    {
                        <li class="active"><a href="@Url.Action("Organization", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Organization", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                }

                @if (Model.IsNextButtonActive())
                {
                    <li><a href="@Url.Action("Organization", Model.ParamsForNextLink())">Neste &raquo;</a></li>
                }
                @if (Model.IsLastButtonActive())
                {
                    <li><a aria-label="Siste" title="Siste" href="@Url.Action("Organization", Model.ParamsForLastLink())"> &raquo;</a></li>
                }
            </ul>
        </div>
    </div>
}

@section scripts {
    <script>
        function showAlert(message, colorClass) {
            $('#feedback-alert').attr('class', 'alert alert-dismissible alert-' + colorClass);
            $('#feedback-alert .message').html(message);
            $('#feedback-alert').show();
        }

        $('ul.facet').each(function () {
            var max = 15;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
        $(document).ready(function () {
            $("#orderby").change(
                 function () {
                     location.href = $(this).val();
                 }
             );

        });


        $(document).ready(function () {
            @if (Html.DownloadServiceEnabled())
            {
            <text>
            if (localStorage.getItem("orderItems") != null) {
                var storedOrderItems = JSON.parse(localStorage["orderItems"]);
                var orderitemCount = storedOrderItems.length;
                if (orderitemCount > 0) {
                    $('#orderitem-count').text(orderitemCount);
                    $('#orderitem-count-text').text(' datasett');
                    updateAllCartButtons(storedOrderItems);
                } else {
                    $('#orderitem-count').text('');
                    $('#orderitem-count-text').text('Kurven er tom');
                }
            } else {
                $('#orderitem-count').text('');
                $('#orderitem-count-text').text('Kurven er tom');
            }
            </text>
            }
        });


        /* Save enabled filter from facet-search */
        $(document).ready(function () {
            getFacetFromUrl();

            var activeFilters = {}
            if (JSON.parse(localStorage.getItem("activeFilters")) != null) {
                activeFilters = JSON.parse(localStorage.getItem("activeFilters"));
            };
            $.each(activeFilters, function (name, active) {
                var element = $("#filterInner .facet-sok-tittel[href='" + name + "']");
                var subElement = $(name);
                if (active) {
                    element.removeClass("collapsed");
                    element.attr("aria-expanded", "true");
                    subElement.addClass("in")
                    subElement.attr("aria-expanded", "true");
                    subElement.css("height", "auto");
                }
            });

            $("#filterInner").on("click", ".facet-sok-tittel", function () {
                var name = ($(this).attr("href"));
                if ($(this).attr("aria-expanded") == "true") {
                    activeFilters[name] = false;
                } else if ($(this).attr("aria-expanded") == "false") {
                    activeFilters[name] = true;
                }
                var activeFiltersJSON = JSON.stringify(activeFilters);
                localStorage.setItem("activeFilters", activeFiltersJSON);
            });
        });


        $(window).load(function () {
            @if (Html.DownloadServiceEnabled())
            {
         <text>


            if (typeof Storage !== "undefined") {

                console.log('window.localStorage is available!');
                var orderItems = [];
                $('.add-to-cart-btn').click(function () {
                    var added = false;
                    var itemuuid = $(this).attr('itemuuid');
                    var itemname = $(this).attr('itemname');
                    var itemurl = $(this).attr('itemurl');
                    var itemorglogo = $(this).attr('itemorglogo');
                    var itemdisturl = $(this).attr('itemdisturl');

                    updateCartButton($(this));


                    if (localStorage.getItem('orderItems') != null) {
                        orderItems = (JSON.parse(localStorage.getItem('orderItems')));
                    }
                    $.map(orderItems, function (elementOfArray, indexInArray) {
                        if (elementOfArray == itemuuid) {
                            orderItems.push(itemuuid);
                            added = true;
                        }
                    });
                    if (!added) {
                        orderItems.push(itemuuid);
                        var metadata = { 'name': itemname, 'uuid': itemuuid, 'url': itemurl, 'organizationLogoUrl': itemorglogo, 'distributionUrl': itemdisturl };
                        localStorage["orderItems"] = JSON.stringify(orderItems);
                        localStorage[itemuuid + ".metadata"] = JSON.stringify(metadata);
                        showAlert(itemname + ' er lagt til i <a href="/Download">kurven</a>', 'success');

                        var orderItemCount = $('#orderitem-count').text();
                        console.log(orderItemCount);
                        if (orderItemCount == null || orderItemCount == '') {
                            orderItemCount = 0;
                            $('#orderitem-count-text').text(' datasett');
                        } else {
                            orderItemCount = parseInt($('#orderitem-count').text());
                        }
                        orderItemCount += 1;
                        $('#orderitem-count').text(orderItemCount);
                        updateShoppingCart();

                    } else {
                        showAlert(itemname + ' er allerede lagt til i <a href="/Download">kurven</a>', 'warning');
                    }
                });
            } else {
                console.log('no native support for HTML5 storage :(');
            }

            </text>
            }

        });
    </script>
}

@{
    string url = HttpContext.Current.Request.Url.AbsoluteUri; url = url.Replace("search", "api/search");
    var qs = HttpUtility.ParseQueryString(Request.QueryString.ToString());
    qs.Set("Offset", "1"); qs.Set("limit", Model.NumFound.ToString()); qs.Add("mediatype", "csv");
    string query = qs.ToString(); string urlCSV = url + "?" + query;
}
<div class="row search-result-navigation">
    <div class="col-md-4">
        Viser @Model.ShowingFromAndTo() av @Model.NumFound treff:
        <div class="pagination-container">
            <ul class="pagination pagination-sm btn-group inline-block">
                @if (Model.IsFirstButtonActive())
            {
                    <li><a aria-label="Første" title="Første" href="@Url.Action("Index", Model.ParamsForFirstLink())"><span class="fa fa-angle-double-left"></span></a></li>
                }

                @if (Model.IsPreviousButtonActive())
            {
                    <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())"><span class="fa fa-angle-left"></span> Forrige</a></li>
                }

                @for (int i = Model.startPage; i <= Model.endPage; i++)
            {
                if (Model.IsActivePage(i))
                {
                        <li class="active"><a href="@Url.Action("Index", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                }

                @if (Model.IsNextButtonActive())
            {
                    <li><a href="@Url.Action("Index", Model.ParamsForNextLink())"> Neste <span class="fa fa-angle-right"></span></a></li>
                }
                @if (Model.IsLastButtonActive())
            {
                    <li><a aria-label="Siste" title="Siste" href="@Url.Action("Index", Model.ParamsForLastLink())"> <span class="fa fa-angle-double-right"></span></a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="save-as-menu">
            <label>Lagre som:</label>
            <div class="no-padding-bottom save-as-dropdown">
                <div class="custom-select">
                    <select onchange="additionalView(this.value)" class="form-control">
                        <option value="csvUrl" selected="selected">CSV</option>
                    </select>
                </div>
            </div>
            <div id="saveButtons" class="no-padding-bottom save-as-buttons">
                <a class="btn" id="csvUrl" href="@urlCSV">Lagre</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        Velg visningsform:
        <div class="custom-select">
            <select id="layoutSelect" onchange="changeLayout(this.value)" class="form-control">
                <option value="tableView" id="button-tableView">Tabell</option>
                <option value="listView" id="button-listView">Liste</option>
                <option value="galleryView" id="button-galleryView">Galleri</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>

</div>

<span class="separator-small separator-gray margin-bottom-10"></span>


<div class="row">
    <div class="col-sm-12 col-md-9">
        @if (Model.Result != null)
        {
            <div id="tableView" class="search-results">
                <div class="row search-results-table-heading">
                    <div class="col-sm-3 orderby orderby-title orderby-asc" id="orderby-title-asc"><p><a href="@Url.Action("Organization", Model.ParamsForOrderByTitleLink())" class="table-ordering">Tittel<span class="orderby-indicator"></span></a></p></div>
                    <div class="col-sm-3 orderby orderby-title orderby-desc" id="orderby-title-desc"><p><a href="@Url.Action("Organization", Model.ParamsForOrderByTitleDescLink())" class="table-ordering">Tittel<span class="orderby-indicator"></span></a></p></div>

                    <div class="col-sm-2"><p>Type</p></div>
                    <div class="col-sm-3 orderby orderby-organization orderby-asc" id="orderby-organization-asc"><p><a href="@Url.Action("Organization", Model.ParamsForOrderByOrganizationLink())" class="table-ordering">Dataeier<span class="orderby-indicator"></span></a></p></div>
                    <div class="col-sm-3 orderby orderby-organization orderby-desc" id="orderby-organization-desc"><p><a href="@Url.Action("Organization", Model.ParamsForOrderByOrganizationDescLink())" class="table-ordering">Dataeier<span class="orderby-indicator"></span></a></p></div>
                    <div class="col-sm-1"><p>Åpne data</p></div>
                    <div class="col-sm-1"><p>Les mer</p></div>
                    <div class="col-sm-1"><p>Vis i kart</p></div>
                    <div class="col-sm-1"><p>Last ned</p></div>
                </div>
                <div class="menu-separator search-results-table-heading"></div>
                @foreach (var item in Model.Result.Items)
                {
                    <div class="row result-row metadata">

                        <div class="col-sm-1 search-results-logo">
                            @if (!string.IsNullOrWhiteSpace(item.OrganizationLogoUrl))
                            {
                                System.Uri organizationLogoUrl = new Uri(item.OrganizationLogoUrl);
                                string relativeOrganizationLogoUrl = "//" + organizationLogoUrl.Host + organizationLogoUrl.PathAndQuery;
                                <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = @item.OrganizationSeoName() })">
                                    <img src="@relativeOrganizationLogoUrl" class="img-responsive center-block" alt="Logo @item.Organization" title="Vis alle tjenester og datasett fra @item.Organization" />
                                </a>
                            }
                        </div>

                        <div class="col-sm-3 search-results-title">
                            <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">
                                <p class="role-button search-results-name" role="button">@item.Title</p>
                            </a>
                            <div class="search-results-description">
                                <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = @item.OrganizationSeoName() })" title="Vis alle tjenester og datasett fra @item.Organization">
                                    @if (item.Organization != null)
                                    {
                                        <p>  @item.Organization</p>
                                    }

                                </a>
                                <p>
                                    @if (item.Abstract != null)
                                    {
                                        if (item.Abstract.Length > 250)
                                        {
                                            @item.Abstract.Substring(0, 251)<text>...</text>
                                        }
                                        else
                                        {
                                            @item.Abstract
                                        }
                                    }

                                </p>
                                <p>
                                    Tilgjengelig som:
                                    <span title="Tilgjengelig som @item.GetInnholdstype()" class="label @item.GetInnholdstypeCSS()">@item.GetInnholdstype()</span>
                                </p>
                            </div>


                        </div>
                        <div class="col-sm-2 search-results-type">
                            <span title="@item.GetInnholdstype()" class="label @item.GetInnholdstypeCSS()">@item.GetInnholdstype()</span>
                        </div>
                        <div class="col-sm-3 search-results-organization">
                            <a href="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = @item.OrganizationSeoName() })" title="Vis alle tjenester og datasett fra @item.Organization">
                                @if (item.Organization != null)
                                {
                                    <p>  @item.Organization</p>
                                }

                            </a>
                        </div>

                        <div class="col-sm-1 search-results-action-icons search-results-open-data">
                            @if (item.IsOpendata)
                            {
                                <span data-toggle='tooltip' data-placement='bottom' title="Åpne data" class="custom-icon custom-icon-hengelaas-open-green"></span>
                            }
                            else if (item.IsRestricted)
                            {
                                <span data-toggle='tooltip' data-placement='bottom' title="Tilgangsbegrensede data" class="custom-icon custom-icon-hengelaas-closed-yellow"></span>
                            }
                            else if (item.IsOffline)
                            {
                                <span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span>
                            }
                        </div>

                        <div class="col-sm-2 search-results-action-buttons">

                            <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())" data-toggle='tooltip' data-placement='bottom' title="Les mer om @item.Title" class="btn btn-default">
                                <span class="custom-icon custom-icon-info"></span><span class="button-text"> Les mer</span>
                            </a>


                            @{
                                String kartmarkoerTitle = item.AlertSize ? "Tjenesten kan være treg å vise pga. svært mange kartlag" : "Vis " + @item.Title + " i kart";
                                String kartmarkoerCss = item.AlertSize ? "custom-icon-kartmarkoer-warning" : "custom-icon-kartmarkoer";
                            }

                            @if (item.ShowMapLink())
                            {
                                <a href="@Html.NorgeskartUrl()@item.DownloadUrl/" onclick="ga('send', 'event', 'Nedlasting', 'viskart');" data-toggle='tooltip' data-placement='bottom' title="@kartmarkoerTitle" target="_blank" class="btn btn-default">
                                    <span class="custom-icon @kartmarkoerCss"></span><span class="button-text"> Vis i kart</span>
                                </a>

                            }
                            else if (item.ShowServiceMapLink())
                            {
                                <a href="@Html.NorgeskartUrl()@item.ServiceUrl/" onclick="ga('send', 'event', 'Nedlasting', 'viskart');" data-toggle='tooltip' data-placement='bottom' title="@kartmarkoerTitle" target="_blank" class="btn btn-default">
                                    <span class="custom-icon @kartmarkoerCss"></span><span class="button-text"> Vis i kart</span>
                                </a>
                            }
                            else
                            {
                                <a title="Vis @item.Title i kart" class="disabled btn btn-default">
                                    <span class="custom-icon custom-icon-kartmarkoer"></span><span class="button-text"> Vis i kart</span>
                                </a>
                            }


                            @if (item.ShowDownloadService())
                            {
                                string relativeOrganizationLogoUrl = "";
                                string relativeDowloadUrl = "";

                                if (!string.IsNullOrWhiteSpace(item.OrganizationLogoUrl))
                                {
                                    System.Uri organizationLogoUrl = new Uri(item.OrganizationLogoUrl);
                                    relativeOrganizationLogoUrl = "//" + organizationLogoUrl.Host + organizationLogoUrl.PathAndQuery;
                                }

                                if (!string.IsNullOrWhiteSpace(item.DownloadUrl))
                                {
                                    System.Uri downloadUrl = new Uri(item.DownloadUrl);
                                    relativeDowloadUrl = "//" + downloadUrl.Host + downloadUrl.PathAndQuery;
                                }

                                <a data-toggle='tooltip'
                                   data-placement='bottom'
                                   onclick="ga('send', 'event', 'Nedlasting', 'leggikurv');"
                                   title='Legg til @item.Title i kurv'
                                   class='add-to-cart-btn btn btn-default'
                                   itemname='@item.Title'
                                   itemuuid='@item.Uuid'
                                   itemurl='/metadata/uuid/@item.Uuid'
                                   itemorglogo='@relativeOrganizationLogoUrl'
                                   itemdisturl='@relativeDowloadUrl'>
                                    <span class="custom-icon custom-icon-handlekurv"></span><span class="button-text"> Legg i kurv</span>
                                </a>
                            }
                            else if (item.ShowDownloadLink())
                            {
                                <a href="@item.DownloadUrl" onclick="ga('send', 'event', 'Nedlasting', 'lastned');" data-toggle='tooltip' data-placement='bottom' title="Last ned datasett for @item.Title" target="_blank" class="btn btn-default">
                                    <span class="custom-icon custom-icon-lastned"></span><span class="button-text"> Last ned</span>
                                </a>
                            }
                            else
                            {
                                <a title="Last ned datasett for @item.Title" class="disabled btn btn-default">
                                    <span class="custom-icon custom-icon-lastned"></span><span class="button-text"> Last ned</span>
                                </a>
                            }

                        </div>

                        <div class="col-sm-1 search-results-action-icons">
                            <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())" data-toggle='tooltip' data-placement='bottom' title="Les mer om @item.Title" class="">
                                <span class="custom-icon custom-icon-info"></span>
                            </a>
                        </div>


                        <div class="col-sm-1 search-results-action-icons action-show-map">
                            @if (item.ShowMapLink())
                            {
                                <a href="@Html.NorgeskartUrl()@item.DownloadUrl/" onclick="ga('send', 'event', 'Nedlasting', 'viskart');" data-toggle='tooltip' data-placement='bottom' title="@kartmarkoerTitle" target="_blank">
                                    <span class="custom-icon @kartmarkoerCss"></span>
                                </a>
                            }
                            else if (item.ShowServiceMapLink())
                            {
                                <a href="@Html.NorgeskartUrl()@item.ServiceUrl/" onclick="ga('send', 'event', 'Nedlasting', 'viskart');" data-toggle='tooltip' data-placement='bottom' title="@kartmarkoerTitle" target="_blank">
                                    <span class="custom-icon @kartmarkoerCss"></span>
                                </a>
                            }
                            else
                            {
                                <a title="Vis @item.Title i kart" class="disabled">
                                    <span class="custom-icon custom-icon-kartmarkoer"></span>
                                </a>
                            }

                        </div>
                        <div class="col-sm-1 search-results-action-icons action-download">
                            @if (item.ShowDownloadService())
                            {
                                string relativeOrganizationLogoUrl = "";
                                string relativeDowloadUrl = "";

                                if (!string.IsNullOrWhiteSpace(item.OrganizationLogoUrl))
                                {
                                    System.Uri organizationLogoUrl = new Uri(item.OrganizationLogoUrl);
                                    relativeOrganizationLogoUrl = "//" + organizationLogoUrl.Host + organizationLogoUrl.PathAndQuery;
                                }

                                if (!string.IsNullOrWhiteSpace(item.DownloadUrl))
                                {
                                    System.Uri downloadUrl = new Uri(item.DownloadUrl);
                                    relativeDowloadUrl = "//" + downloadUrl.Host + downloadUrl.PathAndQuery;
                                }

                                <a data-toggle='tooltip'
                                   data-placement='bottom'
                                   onclick="ga('send', 'event', 'Nedlasting', 'leggikurv');"
                                   title='Legg til @item.Title i kurv'
                                   class='add-to-cart-btn'
                                   itemname='@item.Title'
                                   itemuuid='@item.Uuid'
                                   itemurl='/metadata/uuid/@item.Uuid'
                                   itemorglogo='@relativeOrganizationLogoUrl'
                                   itemdisturl='@relativeDowloadUrl'>
                                    <span class="custom-icon custom-icon-handlekurv"></span>
                                </a>
                            }
                            else if (item.ShowDownloadLink())
                            {
                                <a href="@item.DownloadUrl" onclick="ga('send', 'event', 'Nedlasting', 'lastned');" data-toggle='tooltip' data-placement='bottom' title="Last ned datasett for @item.Title" target="_blank">
                                    <span class="custom-icon custom-icon-lastned"></span>
                                </a>
                            }
                            else
                            {
                                <a title="Last ned datasett for @item.Title" class="disabled">
                                    <span class="custom-icon custom-icon-lastned"></span>
                                </a>
                            }
                        </div>


                        <div class="col-sm-2 search-results-list-image">
                            @if (!string.IsNullOrWhiteSpace(item.ThumbnailUrl))
                            {
                                <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">
                                    <img src="@Url.Action("Index", "Thumbnail", new {uuid = item.Uuid })" />
                                </a>
                            }

                        </div>
                    </div>


                    if (!string.IsNullOrWhiteSpace(item.ThumbnailUrl))
                    {
                        <div class="search-results-gallery-image layoutblock">
                            <div class="block shortcutpageteaserblock size-4 col-sm-4">
                                <div class="teaser-with-background-image">
                                    <a href="@Url.Action("Index", "Metadata", item.ShowMetadataLinkRouteValueDictionary())">
                                        <div class="teaser-background-image" style="background: url(@Url.Action("Index", "Thumbnail", new {uuid = item.Uuid })) no-repeat center;">
                                            <div class="teaser-overlay">
                                                <div class="teaser-caption">
                                                    <div class="teaser-heading">@item.Title</div>

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                    <hr />
                }
                <div class="clearfix"></div>
            </div>

            @DisplayPaginationBottom()

        }
    </div>
    <div class="col-sm-12 col-md-3 pull-left hidden-sm hidden-xs">
        <aside class="facet-sok-emne">
            <div class="block listblock" id="filterInner">
                <h3 class="">Filtrer søket på:</h3>
                <span class="separator-small"></span>
                @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "theme"))
                @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "type"))
                @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "nationalinitiative"))
                @DisplayFacetCheckbox(Model.Result.Facets.First(f => f.FacetField == "placegroups"), Model.Result.Facets.First(f => f.FacetField == "area"))
                @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "DistributionProtocols"))
                @DisplayFacet(Model.Result.Facets.First(f => f.FacetField == "organization"))

            </div>
        </aside>
    </div>
</div>



