@using Kartverket.Metadatakatalog.Models.ViewModels
@using Kartverket.Metadatakatalog.Helpers
@model SearchByOrganizationViewModel

@{
    ViewBag.Title = Resources.UI.DepartmentalOverviewHeader;
}

@section breadcrumb {
    <li class="active">@Model.OrganizationName</li>
}

<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form id="organizationDD" action="@Url.Action("Organization", "Metadata", new { OrganizationSeoName = "" })" name="FilterForm" method="get" class="custom-select">
                @Html.DropDownList("OrganizationSeoName", Model.OrganizationSelectList, Resources.UI.SelectOrganization, new { @class = "form-control" })
            </form>
        </div>
    </div>
</section>

@{
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    if (url.Contains("etatvis-oversikt/organisasjon"))
    {
        url = url.Replace("etatvis-oversikt/organisasjon", "api/datasets");
    }
    else if (url.Contains("etatvis-oversikt"))
    {
        url = url.Replace("etatvis-oversikt/" + Model.OrganizationSeoName, "api/datasets");
    }
    else
    {
        url = url.Replace("metadata/" + Model.OrganizationSeoName, "api/datasets");
    }
    Uri uri = new Uri(url);
    string path = String.Format("{0}{1}{2}{3}", uri.Scheme,
    Uri.SchemeDelimiter, uri.Authority, uri.AbsolutePath);
    var qs = HttpUtility.ParseQueryString("");

    for (int f = 0; f < Model.FacetParameters.Count; f++)
    {
        var facet = Model.FacetParameters[f];

        qs.Add("facets[" + f + "]name", facet.Name);
        qs.Add("facets[" + f + "]value", facet.Value);
    }
    qs.Set("Offset", "1"); qs.Set("limit", Model.NumFound.ToString()); qs.Add("mediatype", "csv");
    string query = qs.ToString(); string urlCSV = path + "?" + query;
}


<div class="row search-result-navigation">
    <div class="col-md-4">
        @Html.Partial("_PaginationForOrganization", Model)
    </div>
    <div class="col-md-4 pull-right">
        <div class="save-as-menu pull-right">
            <label>@Resources.UI.SaveAs:</label>
            <div class="no-padding-bottom save-as-dropdown">
                <div class="custom-select">
                    <select onchange="additionalView(this.value)" class="form-control">
                        <option value="csvUrl" selected="selected">CSV</option>
                    </select>
                </div>
            </div>
            <div id="saveButtons" class="no-padding-bottom save-as-buttons">
                <a class="btn" id="csvUrl" href="@urlCSV">@Resources.UI.Save</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>

<span class="separator-small separator-gray margin-bottom-10"></span>


<div class="row resultItemTitleRow">

    <div class="col-md-9">
        
    @if (Model.Result != null)
    {
        @Html.Partial("_ThemeGroup", Model)
        <div class="margin-top-10">
            @Html.Partial("_PaginationForOrganization", Model)
        </div>
    }
    </div>
    <div class="col-sm-12 col-md-3 pull-left hidden-sm hidden-xs">
        <aside class="facet-filter-container">
            <h3 class="">@Resources.UI.FilterSearch:</h3>
            <span class="separator-small"></span>
            @Html.Partial("_FacetFilter", Model)

            <h3 class="" style="padding-top: 40px;">@Resources.UI.Pages</h3>
            <span class="separator-small"></span>
            @Html.Partial("_FilterPages")
        </aside>
    </div>
</div>



@section scripts {
    <script>

        // Setter url for søkeresultat
        @if (Model.OrganizationSeoName != null) {
            @:setMainSearchUrl('etatvis-oversikt/@Model.OrganizationSeoName');
                            @:setMainSearchApiUrl('search?facets[0]name=organization&facets[0]value=@Model.OrganizationName');
                        }
        else
        {
            @:setMainSearchUrl('etatvis-oversikt/organisasjon');
        }
    </script>

    <script>
        function showAlert(message, colorClass) {
            $('#feedback-alert').attr('class', 'alert alert-dismissible alert-' + colorClass);
            $('#feedback-alert .message').html(message);
            $('#feedback-alert').show();
        }

        $(document).ready(function () {
            $("#OrganizationSeoName").change(
                function () {
                    this.form.submit();
                    location.href = $(this).val();
                }
            );
        });

        $(document).ready(function () {
            @if (Html.DownloadServiceEnabled())
            {
            <text>
            if (localStorage.getItem("orderItems") != null) {
                var storedOrderItems = JSON.parse(localStorage["orderItems"]);
                var orderitemCount = storedOrderItems.length;
                if (orderitemCount > 0) {
                    $('#orderitem-count').text(orderitemCount);
                    $('#orderitem-count-text').text(' datasett');
                    updateAllCartButtons(storedOrderItems);
                } else {
                    $('#orderitem-count').text('');
                    $('#orderitem-count-text').text('Kurven er tom');
                }
            } else {
                $('#orderitem-count').text('');
                $('#orderitem-count-text').text('Kurven er tom');
            }
            </text>
            }
        });
    </script>
}
